<div [@routerTransition] class="application-details">
    <app-page-header [heading]="'Loan Details Master'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="back-btn">
        <button class="btn btn-lg btn-link text-white font-weight-bold" type="button" (click)="ViewDetails()">Back</button>
    </div>
    <div class="w-100 float-left">
        <form name="form" #EditLoanMaster="ngForm" novalidate>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="section_box pb-0 pl-0 pr-0">
                            <div class="box_title">Loan master Form</div>
                            <div class="tab-content clearfix ml-0">
                                <div class="w-100 float-left">
                                    <div class="tab-pane pt-3">
                                        <div class="row m-0">
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">Application Form No</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj._loanApplicationDetails.ApplicationFormNumber}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Application Form No" [(ngModel)]="_LoanDetailsObj._loanApplicationDetails.ApplicationFormNumber" name="ApplicationFormNumber" [disabled]="true" #ApplicationFormNumber="ngModel" required>
                                                            <div *ngIf="ApplicationFormNumber.invalid && (ApplicationFormNumber.dirty || ApplicationFormNumber.touched)" class="alert alert-danger">
                                                                <div *ngIf="ApplicationFormNumber.errors.required ">
                                                                    Please enter valid Application Form Number.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">Client ID</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj.ClientID}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Client ID" [(ngModel)]="_LoanDetailsObj.ClientID" name="ClientID" [disabled]="true" #ClientID="ngModel" required>
                                                            <div *ngIf="ClientID.invalid && (ClientID.dirty || ClientID.touched)" class="alert alert-danger">
                                                                <div *ngIf="ClientID.errors.required ">
                                                                    Please enter Client ID.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">ROI Offered</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj.ROIOffered}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <input matInput placeholder="ROI Offered" [(ngModel)]="_LoanDetailsObj.ROIOffered" name="ROIOffered" #ROIOffered="ngModel" required>
                                                            <div *ngIf="ROIOffered.invalid && (ROIOffered.dirty || ROIOffered.touched)" class="alert alert-danger">
                                                                <div *ngIf="ROIOffered.errors.required ">
                                                                    Please enter ROI Offered.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">Loan Term Offered</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj.LoanTermOffered}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Loan Term Offered" [(ngModel)]="_LoanDetailsObj.LoanTermOffered" name="LoanTermOffered" #LoanTermOffered="ngModel" required>
                                                            <div *ngIf="LoanTermOffered.invalid && (LoanTermOffered.dirty || LoanTermOffered.touched)" class="alert alert-danger">
                                                                <div *ngIf="LoanTermOffered.errors.required ">
                                                                    Please select LoanTermOffered.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0">
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">Rate Type Offered</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj.RateTypeOffered}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Rate Type Offered" [(ngModel)]="_LoanDetailsObj.RateTypeOffered" name="RateTypeOffered" #RateTypeOffered="ngModel" required>
                                                            <div *ngIf="RateTypeOffered.invalid && (RateTypeOffered.dirty || RateTypeOffered.touched)" class="alert alert-danger">
                                                                <div *ngIf="RateTypeOffered.errors.required ">
                                                                    Please enter Rate Type Offered.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">Frequency Offered</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj.FrequencyOffered}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Frequency Offered" [(ngModel)]="_LoanDetailsObj.FrequencyOffered" name="FrequencyOffered" #FrequencyOffered="ngModel" required>
                                                            <div *ngIf="FrequencyOffered.invalid && (FrequencyOffered.dirty || FrequencyOffered.touched)" class="alert alert-danger">
                                                                <div *ngIf="FrequencyOffered.errors.required ">
                                                                    Please enter Frequency Offered.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">Loan Value Ratio</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj.LoanValueRatio}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Loan Value Ratio" [(ngModel)]="_LoanDetailsObj.LoanValueRatio" name="LoanValueRatio" #LoanValueRatio="ngModel" required>
                                                            <div *ngIf="LoanValueRatio.invalid && (LoanValueRatio.dirty || LoanValueRatio.touched)" class="alert alert-danger">
                                                                <div *ngIf="LoanValueRatio.errors.required ">
                                                                    Please enter Loan Value Ratio.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">Loan Amount Offered</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj.LoanAmountOffered}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Loan Amount Offered" [(ngModel)]="_LoanDetailsObj.LoanAmountOffered" name="LoanAmountOffered" #LoanAmountOffered="ngModel" required>
                                                            <div *ngIf="LoanAmountOffered.invalid && (LoanAmountOffered.dirty || LoanAmountOffered.touched)" class="alert alert-danger">
                                                                <div *ngIf="LoanAmountOffered.errors.required ">
                                                                    Please enter Loan Amount Offered.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0">
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">EMI Start Day</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj.EMIStartDay}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <input matInput placeholder="EMI Start Day" [(ngModel)]="_LoanDetailsObj.EMIStartDay" name="EMIStartDay" #EMIStartDay="ngModel" required>
                                                            <div *ngIf="EMIStartDay.invalid && (EMIStartDay.dirty || EMIStartDay.touched)" class="alert alert-danger">
                                                                <div *ngIf="EMIStartDay.errors.required ">
                                                                    Please enter EMI Start Day.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">EMI Start Month</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj.EMIStartMonth}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <input matInput placeholder="EMI Start Month" [(ngModel)]="_LoanDetailsObj.EMIStartMonth" name="EMIStartMonth" #EMIStartMonth="ngModel" required>
                                                            <div *ngIf="EMIStartMonth.invalid && (EMIStartMonth.dirty || EMIStartMonth.touched)" class="alert alert-danger">
                                                                <div *ngIf="EMIStartMonth.errors.required ">
                                                                    Please select EMI Start Month.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">Loan Processing Fee</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj.LoanProcessingFee}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Loan Processing Fee" [(ngModel)]="_LoanDetailsObj.LoanProcessingFee" name="LoanProcessingFee" #LoanProcessingFee="ngModel" required>
                                                            <div *ngIf="LoanProcessingFee.invalid && (LoanProcessingFee.dirty || LoanProcessingFee.touched)" class="alert alert-danger">
                                                                <div *ngIf="LoanProcessingFee.errors.required ">
                                                                    Please enter Loan Processing Fee.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">Any Legal Charges</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj.AnyLegalCharges}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Any Legal Charges" [(ngModel)]="_LoanDetailsObj.AnyLegalCharges" name="AnyLegalCharges" #AnyLegalCharges="ngModel" required>
                                                            <div *ngIf="AnyLegalCharges.invalid && (AnyLegalCharges.dirty || AnyLegalCharges.touched)" class="alert alert-danger">
                                                                <div *ngIf="LoanTermOffered.errors.required ">
                                                                    Please enter Any Legal Charges.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0">
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">NoOfEMI</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj.NoOfEMI}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <input matInput placeholder="No of EMI" [(ngModel)]="_LoanDetailsObj.NoOfEMI" name="NoOfEMI" #NoOfEMI="ngModel" required>
                                                            <div *ngIf="NoOfEMI.invalid && (NoOfEMI.dirty || NoOfEMI.touched)" class="alert alert-danger">
                                                                <div *ngIf="NoOfEMI.errors.required ">
                                                                    Please enter No of EMI.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">Loan provider</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj.Loanprovider}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Loan provider" [(ngModel)]="_LoanDetailsObj.Loanprovider" name="Loanprovider" #Loanprovider="ngModel" required>
                                                            <div *ngIf="Loanprovider.invalid && (Loanprovider.dirty || Loanprovider.touched)" class="alert alert-danger">
                                                                <div *ngIf="Loanprovider.errors.required ">
                                                                    Please select Loanprovider.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">Property Cost</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj._propertyTypeDetails.LoanTermOffered}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Property Cost" [(ngModel)]="_LoanDetailsObj._propertyTypeDetails.PropertyCost" name="PropertyCost" #PropertyCost="ngModel" required>
                                                            <div *ngIf="PropertyCost.invalid && (PropertyCost.dirty || PropertyCost.touched)" class="alert alert-danger">
                                                                <div *ngIf="PropertyCost.errors.required ">
                                                                    Please select PropertyCost.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">Finance Date</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj.FinanceDate}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Finance Date" [(ngModel)]="_LoanDetailsObj.FinanceDate" name="FinanceDate" #FinanceDate="ngModel" required>
                                                            <div *ngIf="FinanceDate.invalid && (FinanceDate.dirty || FinanceDate.touched)" class="alert alert-danger">
                                                                <div *ngIf="FinanceDate.errors.required ">
                                                                    Please select Finance Date.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0">
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">Type of Loan</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj._typeOfLoanDetails.LoanType}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <mat-select placeholder="Type of loan" [(ngModel)]="_LoanDetailsObj._typeOfLoanDetails.ID" name="TypeOfloan" #TypeOfloan="ngModel" required>
                                                                <mat-option *ngFor="let TypeOfLoanID of _TypeOfLoanID" [value]="TypeOfLoanID.ID">{{TypeOfLoanID.LoanType}}</mat-option>
                                                            </mat-select>
                                                            <div *ngIf="TypeOfloan.invalid && (TypeOfloan.dirty || TypeOfloan.touched)" class="alert alert-danger">
                                                                <div *ngIf="TypeOfloan.errors.required ">
                                                                    Please select loan Type.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">Type Of Property</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj.PropertyType}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <mat-select placeholder="Type of Property" [(ngModel)]="_LoanDetailsObj._propertyTypeDetails.ID" name="PropertyType" #PropertyType="ngModel" required>
                                                                <mat-option *ngFor="let PropertyTypeValues of _PropertyTypeID" [value]="PropertyTypeValues.ID">{{PropertyTypeValues.PropertyType}}</mat-option>
                                                            </mat-select>
                                                            <div *ngIf="PropertyType.invalid && (PropertyType.dirty || PropertyType.touched)" class="alert alert-danger">
                                                                <div *ngIf="PropertyType.errors.required ">
                                                                    Please select Type of Property.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label" *ngIf="!_EditDetails">Current Status</div>
                                                    <p *ngIf="!_EditDetails">{{_LoanDetailsObj._typeOfStatusDetails.Status}}</p>
                                                    <div class="field_info w-100" *ngIf="_EditDetails">
                                                        <mat-form-field>
                                                            <mat-select placeholder="Current Status" [(ngModel)]="_LoanDetailsObj._typeOfStatusDetails.ID" name="StatusID" #StatusID="ngModel" required>
                                                                <mat-option *ngFor="let StatusTypeValues of _StatusID" [value]="StatusTypeValues.ID">{{StatusTypeValues.Status}}</mat-option>
                                                            </mat-select>
                                                            <div *ngIf="StatusID.invalid && (StatusID.dirty || StatusID.touched)" class="alert alert-danger">
                                                                <div *ngIf="StatusID.errors.required ">
                                                                    Please select Current Status.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0 btn-bottom pr-4 pl-4">
                                <div class="w-100 float-left text-right">
                                    <input type="button" value="&#xf0c7; Save" (click)="UpdateLoanMasterDetails()" [disabled]="!EditLoanMaster.form.valid" *ngIf="_EditDetails" class="btn btn-success" />
                                    <input type="button" value="&#xf00d; Cancel" (click)="CancelEditingDetails()" *ngIf="_EditDetails" class="btn btn-secondary" />
                                    <input type="button" value="&#xf040; Edit" (click)="EditDetails()" *ngIf="!_EditDetails" class="btn btn-info" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="w-100 mt-3 float-left">
        <kendo-grid [kendoGridBinding]="LoanMasterApplicantDetails"
                    [pageSize]="2"
                    [sortable]="true"
                    [pageable]="true"
                    [scrollable]="true"
                    [filterable]="true"
                    [groupable]="true"
                    selectable="true">
            <kendo-grid-column title="Client name" [filter]="'text'">
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <label>{{dataItem.FirstName}} {{dataItem.MiddleName}} {{dataItem.LastName}}</label>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="MobileNo" title="Contact">
            </kendo-grid-column>
            <kendo-grid-column field="EmailID" title="Email">
            </kendo-grid-column>
            <kendo-grid-column field="ApplicantType" title="Applicant Type">
            </kendo-grid-column>
            <kendo-grid-command-column>
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <button class="btn btn-lg btn-link" type="button" (click)="ViewApplicantDetails()">View details</button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
    </div>
</div>
    
