
<div class="pt-4">
    
    <div class="w-100 float-left">
        <form name="form"  #AddGuarantorform="ngForm" novalidate>
            <div class="row m-0">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">First Name</label>
                        <div class="field_info">
                            <p *ngIf="_AfterUpdate">{{_AddGuarantorDetails.FirstName}}</p>
                            <mat-form-field class="example-full-width" *ngIf="_ShowViewDetails || _AddGuarantor">
                                <input matInput placeholder="First Name" value="{{_AddGuarantorDetails.FirstName}}" name="FirstName" [(ngModel)]="_AddGuarantorDetails.FirstName" #FirstName required>
                                <div *ngIf="FirstName.invalid && (FirstName.dirty || FirstName.touched)" class="alert alert-danger">
                                    <div *ngIf="FirstName.errors.required ">
                                        Please enter First Name.
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Middle Name</label>
                        <div class="field_info">
                          <p *ngIf="_AfterUpdate">{{_AddGuarantorDetails.MiddleName}}</p>
                            <mat-form-field class="example-full-width" *ngIf="_ShowViewDetails || _AddGuarantor">
                                <input matInput placeholder="Middle Name" value="{{_AddGuarantorDetails.MiddleName}}" name="MiddleName" [(ngModel)]="_AddGuarantorDetails.MiddleName" #MiddleName required>
                                <div *ngIf="MiddleName.invalid && (MiddleName.dirty || MiddleName.touched)" class="alert alert-danger">
                                    <div *ngIf="MiddleName.errors.required ">
                                        Please enter Middle Name.
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Last Name</label>
                        <div class="field_info">
                           <p *ngIf="_AfterUpdate">{{_AddGuarantorDetails.LastName}}</p>
                            <mat-form-field class="example-full-width" *ngIf="_ShowViewDetails || _AddGuarantor">
                                <input matInput placeholder="Last Name" value="{{_AddGuarantorDetails.LastName}}" name="LastName" [(ngModel)]="_AddGuarantorDetails.LastName" #LastName required>
                                <div *ngIf="LastName.invalid && (LastName.dirty || LastName.touched)" class="alert alert-danger">
                                    <div *ngIf="LastName.errors.required ">
                                        Please enter Last Name.
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-0">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Gender</label>
                        <p *ngIf="_AfterUpdate">{{_AddGuarantorDetails.Gender}}</p>
                        <div class="field_info">
                            <mat-form-field *ngIf="_ShowViewDetails || _AddGuarantor">
                                <mat-select [(value)]="_AddGuarantorDetails.Gender" [(ngModel)]="_AddGuarantorDetails.Gender" name="Gender" #Gender required>
                                    <mat-option>None</mat-option>
                                    <mat-option value="Male">Male</mat-option>
                                    <mat-option value="Female">Female</mat-option>
                                </mat-select>
                                <div *ngIf="Gender.invalid && (Gender.dirty || Gender.touched)" class="alert alert-danger">
                                    <div *ngIf="Gender.errors.required ">
                                        Please select Gender.
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Date Of Birth</label>
                        <div class="field_info">
                          <p *ngIf="_AfterUpdate">{{_AddGuarantorDetails.DateOfBirth}}</p>
                            <mat-form-field class="example-full-width" *ngIf="_ShowViewDetails || _AddGuarantor">
                                <input matInput placeholder="Date Of Birth" value="{{_AddGuarantorDetails.DateOfBirth}}" [(ngModel)]="_AddGuarantorDetails.DateOfBirth" name="DateOfBirth" #DateOfBirth required>
                                <div *ngIf="DateOfBirth.invalid && (DateOfBirth.dirty || DateOfBirth.touched)" class="alert alert-danger">
                                    <div *ngIf="DateOfBirth.errors.required ">
                                        Please enter Date of Birth.
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Marital Status</label>
                        <div class="field_info">
                         <p *ngIf="_AfterUpdate">{{_AddGuarantorDetails.MaritalStatus}}</p>
                            <mat-form-field class="example-full-width" *ngIf="_ShowViewDetails || _AddGuarantor">
                                <input matInput placeholder="Marital Status" value="{{_AddGuarantorDetails.MaritalStatus}}" [(ngModel)]="_AddGuarantorDetails.MaritalStatus" name="MaritalStatus" #MaritalStatus required>
                                <div *ngIf="MaritalStatus.invalid && (MaritalStatus.dirty || MaritalStatus.touched)" class="alert alert-danger">
                                    <div *ngIf="MaritalStatus.errors.required ">
                                        Please enter Marital Status.
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0">

                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">NZResidents</label>
                        <p *ngIf="_AfterUpdate">{{_AddGuarantorDetails.NZResidents}}</p>
                        <div class="field_info" *ngIf="_ShowViewDetails || _AddGuarantor">
                            <mat-radio-group class="example-radio-group" value="{{_AddGuarantorDetails.NZResidents}}" [(ngModel)]="_AddGuarantorDetails.NZResidents" name="NZResidents" #NZResidents="ngModel" required>
                                <mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
                                <mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
                                <div *ngIf="NZResidents.invalid && (NZResidents.dirty || NZResidents.touched)" class="alert alert-danger">
                                    <div *ngIf="NZResidents.errors.required ">
                                        Please select NZResidents.
                                    </div>
                                </div>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Country Of Birth</label>
                        <div class="field_info">
                          <p *ngIf="_AfterUpdate">{{_AddGuarantorDetails.CountryOfBirth}}</p>
                            <mat-form-field class="example-full-width" *ngIf="_ShowViewDetails || _AddGuarantor">
                                <input matInput placeholder="Country Of Birth" value="{{_AddGuarantorDetails.CountryOfBirth}}" [(ngModel)]="_AddGuarantorDetails.CountryOfBirth" name="CountryOfBirth" #CountryOfBirth required>
                                <div *ngIf="CountryOfBirth.invalid && (CountryOfBirth.dirty || CountryOfBirth.touched)" class="alert alert-danger">
                                    <div *ngIf="CountryOfBirth.errors.required ">
                                        Please enter Country Of Birth.
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Email ID</label>
                        <div class="field_info">
                           <p *ngIf="_AfterUpdate">{{_AddGuarantorDetails.EmailID}}</p>
                            <mat-form-field class="example-full-width" *ngIf="_ShowViewDetails || _AddGuarantor">
                                <input matInput placeholder="Email ID" value="{{_AddGuarantorDetails.EmailID}}" [(ngModel)]="_AddGuarantorDetails.EmailID" name="EmailID" #EmailID required>
                                <div *ngIf="EmailID.invalid && (EmailID.dirty || EmailID.touched)" class="alert alert-danger">
                                    <div *ngIf="EmailID.errors.required ">
                                        Please enter EmailID.
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-0">

                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Mobile No.</label>
                        <div class="field_info">
                         <p *ngIf="_AfterUpdate">{{_AddGuarantorDetails.MobileNo}}</p>
                            <mat-form-field class="example-full-width"  *ngIf="_ShowViewDetails || _AddGuarantor">
                                <input matInput placeholder="Mobile No." value="{{_AddGuarantorDetails.MobileNo}}" [(ngModel)]="_AddGuarantorDetails.MobileNo" name="MobileNo" #MobileNo required>
                                <div *ngIf="MobileNo.invalid && (MobileNo.dirty || MobileNo.touched)" class="alert alert-danger">
                                    <div *ngIf="MobileNo.errors.required ">
                                        Please enter Mobile No.
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Home Phone No.</label>
                        <div class="field_info">
                           <p *ngIf="_AfterUpdate">{{_AddGuarantorDetails.HomePhoneNo}}</p>
                            <mat-form-field class="example-full-width"  *ngIf="_ShowViewDetails || _AddGuarantor">
                                <input matInput placeholder="Home Phone No." value="{{_AddGuarantorDetails.HomePhoneNo}}" [(ngModel)]="_AddGuarantorDetails.HomePhoneNo" name="HomePhoneNo" #HomePhoneNo required>
                                <div *ngIf="HomePhoneNo.invalid && (HomePhoneNo.dirty || HomePhoneNo.touched)" class="alert alert-danger">
                                    <div *ngIf="HomePhoneNo.errors.required ">
                                        Please enter Home Phone No.
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Work Phone No.</label>
                        <div class="field_info">
                            <p *ngIf="_AfterUpdate">{{_AddGuarantorDetails.WorkPhoneNo}}</p>
                            <mat-form-field class="example-full-width" *ngIf="_ShowViewDetails || _AddGuarantor">
                                <input matInput placeholder="Work Phone No." value="{{_AddGuarantorDetails.WorkPhoneNo}}" [(ngModel)]="_AddGuarantorDetails.WorkPhoneNo" name="WorkPhoneNo" #WorkPhoneNo required>
                                <div *ngIf="WorkPhoneNo.invalid && (WorkPhoneNo.dirty || WorkPhoneNo.touched)" class="alert alert-danger">
                                    <div *ngIf="WorkPhoneNo.errors.required ">
                                        Please enter Work Phone No.
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0">

                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Duration</label>
                        <div class="field_info">
                          <p *ngIf="_AfterUpdate">{{_AddGuarantorDetails.Duration}}</p>
                            <mat-form-field class="example-full-width"  *ngIf="_ShowViewDetails || _AddGuarantor">
                                <input matInput placeholder="Duration" value="{{_AddGuarantorDetails.Duration}}" [(ngModel)]="_AddGuarantorDetails.Duration" name="Duration" #Duration required>
                                <div *ngIf="Duration.invalid && (Duration.dirty || Duration.touched)" class="alert alert-danger">
                                    <div *ngIf="Duration.errors.required ">
                                        Please enter Duration.
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Address Line 1</label>
                        <div class="field_info">
                            <p *ngIf="_AfterUpdate">{{_AddGuarantorDetails.AddressLine1}}</p>
                            <mat-form-field class="example-full-width" *ngIf="_ShowViewDetails || _AddGuarantor">
                                <input matInput placeholder="Address Line 1" value="{{_AddGuarantorDetails.AddressLine1}}" [(ngModel)]="_AddGuarantorDetails.AddressLine1" name="AddressLine1" #AddressLine1 required>
                                <div *ngIf="AddressLine1.invalid && (AddressLine1.dirty || AddressLine1.touched)" class="alert alert-danger">
                                    <div *ngIf="AddressLine1.errors.required ">
                                        Please enter Address Line 1.
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Address Line 2</label>
                        <div class="field_info">
                           <p *ngIf="_AfterUpdate">{{_AddGuarantorDetails.AddressLine2}}</p>
                            <mat-form-field class="example-full-width"  *ngIf="_ShowViewDetails || _AddGuarantor">
                                <input matInput placeholder="Address Line 2" value="{{_AddGuarantorDetails.AddressLine2}}" [(ngModel)]="_AddGuarantorDetails.AddressLine2" name="AddressLine2" #AddressLine2 required>
                                <div *ngIf="AddressLine2.invalid && (AddressLine2.dirty || AddressLine2.touched)" class="alert alert-danger">
                                    <div *ngIf="AddressLine2.errors.required ">
                                        Please enter Address Line 2.
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0">

                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Address Line 3</label>
                        <div class="field_info">
                         <p *ngIf="_AfterUpdate">{{_AddGuarantorDetails.AddressLine3}}</p>
                            <mat-form-field class="example-full-width"  *ngIf="_ShowViewDetails || _AddGuarantor">
                                <input matInput placeholder="Address Line 3" value="{{_AddGuarantorDetails.AddressLine3}}" [(ngModel)]="_AddGuarantorDetails.AddressLine3" name="AddressLine3" #AddressLine3 required>
                                <div *ngIf="AddressLine3.invalid && (AddressLine3.dirty || AddressLine3.touched)" class="alert alert-danger">
                                    <div *ngIf="AddressLine3.errors.required ">
                                        Please enter Address Line 3.
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>


            </div>

            <div class="w-100 float-left text-right">
                <input type="submit" *ngIf="_ShowAddButton" (click)="AddGuarantor()"  value="Add" [disabled]="!AddGuarantorform.form.valid" class="btn btn-success" />
                <input type="submit" *ngIf="_ShowUpdateButton" (click)="UpdateGuarantorDetails()" value="Update" [disabled]="!AddGuarantorform.form.valid" class="btn btn-success" />
                <input type="button" value="Cancel" (click)="onNoClick()" class="btn btn-secondary" />
            </div>
        </form>
    </div>

  



    <div >
        <kendo-grid [kendoGridBinding]="gridData"
                    [pageSize]="2"
                    [sortable]="true"
                    [pageable]="true"
                    [scrollable]="true"
                    [filterable]="true"
                    [groupable]="true"
                    selectable="true">

            <kendo-grid-column title="Guarantor Name" [filter]="'text'">
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <label>{{dataItem.FirstName}} {{dataItem.MiddleName}} {{dataItem.LastName}}</label>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="NZResidents" title="NZ Resident">
            </kendo-grid-column>
            <kendo-grid-column field="MobileNo" title="Mobile No.">
            </kendo-grid-column>

            <kendo-grid-column field="HomePhoneNo" title="Home No.">
            </kendo-grid-column>
            <kendo-grid-column field="EmailID" title="Email ID">
            </kendo-grid-column>
            <kendo-grid-command-column>
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <button class="btn btn-lg btn-link" type="button" (click)="ViewDetails(dataItem.GuarantorID)">View Details</button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>



    </div>
</div>




