<div class="application-details mt-0">
    <div>
        <h3 class="text-uppercase sub-head">Manage Expense Sheet</h3>
        <div class="section_box pl-0 pb-0 pr-0 mb-4 mt-3 clearfix">
            <form name="form" #AddExpenseform="ngForm" novalidate>
                <div class="p-4">
                    <div class="row m-0">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                            <div class="field_set">
                                <label *ngIf="_ViewDetails" for="name" class="field_label font-weight-bold">Applicant Name</label>
                                <p *ngIf="_ViewDetails">{{_ManageExpenseSheetDetails.FirstName}}</p>
                                <div class="field_info w-100">
                                    <mat-form-field *ngIf="_EditViewDetails || _AddExpense">
                                        <mat-select placeholder="Applicant Name" [(ngModel)]="_ManageExpenseSheetDetails.ApplicantID" name="applicantname" #applicantname="ngModel" required>
                                            <mat-option *ngFor="let ApplcntType of _ObjApplicantNames" [value]="ApplcntType.ApplicantID">{{ApplcntType.FirstName}}</mat-option>
                                        </mat-select>
                                        <div *ngIf="applicantname.invalid && (applicantname.dirty || applicantname.touched)" class="alert alert-danger">
                                            <div *ngIf="applicantname.errors.required ">
                                                Please select Applicant Name.
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                            <div class="field_set">
                                <label *ngIf="_ViewDetails" for="name" class="field_label font-weight-bold">Expense Type</label>
                                <p *ngIf="_ViewDetails">{{_ManageExpenseSheetDetails.ExpenseType}}</p>
                                <div class="field_info w-100">
                                    <mat-form-field *ngIf="_EditViewDetails || _AddExpense">
                                        <mat-select placeholder="Expense Type" [(ngModel)]="_ManageExpenseSheetDetails.ExpenseTypeID" name="Expensetype" #Expensetype="ngModel" required>
                                            <mat-option *ngFor="let expensetype of _objExpenseTypeID" [value]="expensetype.ExpenseTypeID">{{expensetype.ExpenseType}}</mat-option>
                                        </mat-select>
                                        <div *ngIf="Expensetype.invalid && (Expensetype.dirty || Expensetype.touched)" class="alert alert-danger">
                                            <div *ngIf="Expensetype.errors.required ">
                                                Please select Expense Type.
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                            <div class="field_set">
                                <label *ngIf="_ViewDetails" for="name" class="field_label font-weight-bold">Description</label>
                                <p *ngIf="_ViewDetails">{{_ManageExpenseSheetDetails.Description}}</p>
                                <div class="field_info w-100">
                                    <mat-form-field class="w-100" *ngIf="_EditViewDetails || _AddExpense">
                                        <input matInput placeholder="Details" name="Details" [(ngModel)]="_ManageExpenseSheetDetails.Description" class="w-100" #Details required>
                                        <div *ngIf="Details.invalid && (Details.dirty || Details.touched)" class="alert alert-danger">
                                            <div *ngIf="Details.errors.required ">
                                                Please enter Details.
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                            <div class="field_set">
                                <label *ngIf="_ViewDetails" for="name" class="field_label font-weight-bold">Frequency</label>
                                <p *ngIf="_ViewDetails">{{_ManageExpenseSheetDetails.Frequency}}</p>
                                <div class="field_info w-100">
                                    <mat-form-field class="w-100" *ngIf="_EditViewDetails || _AddExpense">
                                        <input matInput placeholder="Net Value" name="NetValue" [(ngModel)]="_ManageExpenseSheetDetails.Frequency" class="w-100" #Frequency required>
                                        <div *ngIf="Frequency.invalid && (Frequency.dirty || Frequency.touched)" class="alert alert-danger">
                                            <div *ngIf="Frequency.errors.required ">
                                                Please enter Frequency.
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                            <div class="field_set">
                                <label *ngIf="_ViewDetails" for="name" class="field_label font-weight-bold">Net Amount</label>
                                <p *ngIf="_ViewDetails">{{_ManageExpenseSheetDetails.NetAmount}}</p>
                                <div class="field_info w-100">
                                    <mat-form-field class="w-100" *ngIf="_EditViewDetails || _AddExpense">
                                        <input matInput placeholder="Net Amount" name="NetAmount" [(ngModel)]="_ManageExpenseSheetDetails.NetAmount" class="w-100" #NetAmount required>
                                        <div *ngIf="NetAmount.invalid && (NetAmount.dirty || NetAmount.touched)" class="alert alert-danger">
                                            <div *ngIf="NetAmount.errors.required ">
                                                Please enter Net Amount.
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100 float-left text-right">
                    <div class="btn-bottom pr-4 pl-4">
                        <input type="submit" *ngIf="_AddExpense" (click)="AddExpenseSheet()" value="&#xf055; Add" [disabled]="!AddExpenseform.form.valid" class="btn btn-success" />
                        <input type="button" *ngIf="_ViewDetails" value="&#xf040; Edit" (click)="EditDetails()" class="btn btn-success" />
                        <input type="button" *ngIf="_EditViewDetails" (click)="UpdateExpenseSheetDetails()" [disabled]="!AddExpenseform.form.valid" value="&#xf0c7; Save" class="btn btn-success" />
                        <input type="button" value="&#xf00d; Cancel" (click)="onNoClick()" class="btn btn-secondary" />
                    </div>
                </div>
            </form>
        </div>
        <div>
            <kendo-grid [kendoGridBinding]="gridData"
                        [pageSize]="10"
                        [sortable]="true"
                        [pageable]="true"
                        [scrollable]="true"
                        [filterable]="true"
                        [groupable]="true"
                        selectable="true">
                <kendo-grid-column title="Applicant Name">
                    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                        <label>{{dataItem.FirstName}}</label>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column title="Expense Type">
                    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                        <label>{{dataItem.ExpenseType}}</label>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="Description" title="Details">
                </kendo-grid-column>
                <kendo-grid-column field="NetAmount" title="Net Amount">
                </kendo-grid-column>
                <kendo-grid-column field="Frequency" title="Ownership">
                </kendo-grid-column>
                <kendo-grid-command-column>
                    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                        <button class="btn btn-lg btn-link p-0" type="button" (click)="ViewDetails(dataItem.ApplicantID)">View Details</button>
                    </ng-template>
                </kendo-grid-command-column>
            </kendo-grid>
        </div>
    </div>
    </div>





