<div>
    <div class="row">
        <div class="col-md-12">
            <div class="section_box">
                <div class="box_title">Applicant Personal Details</div>
                <div class="tab-content clearfix ml-0">
                    <div class="tab-pane active">
                        <div class="row m-0">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Type of Loan</div>
                                    <div class="field_info">
                                        <!--<p *ngIf="!_EditPersonalDetails">{{_ApplicantDetails.FirstName}} {{_ApplicantDetails.MiddleName}} {{_ApplicantDetails.LastName}}</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="First" value="{{_ApplicantDetails.FirstName}}" [(ngModel)]="_ApplicantDetails.FirstName" #FirstName>
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Middle" value="{{_ApplicantDetails.MiddleName}}" [(ngModel)]="_ApplicantDetails.MiddleName" #MiddleName>
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Last" value="{{_ApplicantDetails.LastName}}" [(ngModel)]="_ApplicantDetails.LastName" #LastName>
                                        </mat-form-field>-->
                                        <p *ngIf="!_EditPersonalDetails">Type of Loan</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Purpose of loan</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">Purpose of loan</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">No of dependents</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Marital status</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditPersonalDetails">No of dependents</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="float-right">
                        <input type="button" value="Save" (click)="UpdatePersonalDetails()" *ngIf="_EditPersonalDetails" class="btn btn-success" />
                        <input type="button" value="Cancel" (click)="EditPersonalDetails()" *ngIf="_EditPersonalDetails" class="btn btn-secondary" />
                        <input type="button" value="Edit" (click)="EditPersonalDetails()" *ngIf="!_EditPersonalDetails" class="btn btn-info" />
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>