<div class="form">
    <div class="pt-4">
        <div class="w-100 float-left">
            <div class="row m-0">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Address Line1</label>
                        <div class="field_info">
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Address Line2</label>
                        <div class="field_info">
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Address Line3</label>
                        <div class="field_info">
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-0">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Duration</label>
                        <div class="field_info">
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">AddressType</label>
                        <div class="field_info">
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
