<div class="form">
    <div class="pt-4">
        <div class="w-100 float-left">
            <div class="row m-0">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Address Line1</label>
                        <div class="field_info">
                            <mat-form-field class="example-full-width" >
                                <input matInput placeholder="Address Line 1" value="{{_ApplicantCommunicationDetails.AddressLine1}}" [(ngModel)]="_ApplicantCommunicationDetails.AddressLine1" #AddressLine1>
                            </mat-form-field>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Address Line2</label>
                        <div class="field_info">
                            <mat-form-field class="example-full-width" >
                                <input matInput placeholder="Address Line 2" value="{{_ApplicantCommunicationDetails.AddressLine2}}" [(ngModel)]="_ApplicantCommunicationDetails.AddressLine2" #AddressLine2>
                            </mat-form-field>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Address Line3</label>
                        <div class="field_info">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Address Line 3" value="{{_ApplicantCommunicationDetails.AddressLine3}}" [(ngModel)]="_ApplicantCommunicationDetails.AddressLine3" #AddressLine3>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-0">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Duration</label>
                        <div class="field_info">
                            <mat-form-field class="example-full-width" >
                                <input matInput placeholder="Duration" value="{{_ApplicantCommunicationDetails.Duration}}" [(ngModel)]="_ApplicantCommunicationDetails.Duration" #Duration>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left pl-0">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">AddressType</label>
                        <div class="field_info">
                            <mat-form-field>
                                <mat-select [(value)]="_ApplicantCommunicationDetails.AddressType">
                                    <mat-option>None</mat-option>
                                    <mat-option value="1">Work</mat-option>
                                    <mat-option value="2">Residence- Temporary</mat-option>
                                    <mat-option value="3">Residence- Permanent</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


