<div class="form">
    <div class="pt-4">
        <div class="w-100 float-left">
            <div class="row m-0">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Passing Year</label>
                        <div class="field_info">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Passing Year" value="{{_ApplicantQualificationDetails.PassingYear}}" [(ngModel)]="_ApplicantQualificationDetails.PassingYear" #PassingYear>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Course Name</label>
                        <div class="field_info">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Course Name" value="{{_ApplicantQualificationDetails.CourseName}}" [(ngModel)]="_ApplicantQualificationDetails.CourseName" #CourseName>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">University Name</label>
                        <div class="field_info">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="University Name" value="{{_ApplicantQualificationDetails.UniversityName}}" [(ngModel)]="_ApplicantQualificationDetails.UniversityName" #UniversityName>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-0">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Type Of Qualification</label>
                        <div class="field_info">
                            <mat-form-field>
                                <mat-select [(value)]="_ApplicantQualificationDetails.TypeOfQualification">
                                    <mat-option>None</mat-option>
                                    <mat-option value="1">Under-Graduate</mat-option>
                                    <mat-option value="2">Graduate</mat-option>
                                    <mat-option value="3">Post-Graduate</mat-option>
                                    <mat-option value="4">Professional</mat-option>
                                    <mat-option value="5">Diploma</mat-option>
                                </mat-select>
                            </mat-form-field>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
