<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>AIMFinServ Login</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text"   name="_Username" id="_Username" [(ngModel)]="_Username" class="form-control input-underline input-lg" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg"  name="_Password" id="_Password" [(ngModel)]="_Password"  placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn"  (click)="LoginVaidate()"> Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
                <div class="clearfix"></div>
                <p *ngIf="_FormErrors">
                    <br />
                    <label class="has-error" style="color:red;">
                        {{_FormErrorsDescription}}
                    </label>
                </p>
            </form>
        </div>
    </div>
</div>
