<!--The content below is only a placeholder and can be replaced.-->
<div class="side-nav-out">
    <div class="logo">
        logo
    </div>
    <div class="side-nav">
        <ul>
            <li><a routerLink=''><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li><a routerLink='/about'><i class="fa fa-user" aria-hidden="true"></i> About Us</a></li>
            <li><a routerLink='/contact'><i class="fa fa-envelope" aria-hidden="true"></i> Contact Us</a></li>
            <li><a routerLink='/services'><i class="fa fa-globe" aria-hidden="true"></i> Services</a></li>
            <li><a routerLink='/pages'><i class="fa fa-chain" aria-hidden="true"></i> Pages</a></li>
            <li><a routerLink='/datatable'><i class="fa fa-briefcase" aria-hidden="true"></i> Data Table</a></li>
            <li><a routerLink='/faq'><i class="fa fa-briefcase" aria-hidden="true"></i> FAQ</a></li>
        </ul>
    </div>
</div>