<!--<div class="content-section"><h3 class="text-uppercase pb-2 text-center">Personal</h3></div>-->
<div class="content-section pt-5" style="background: #56767b; margin-left:-15px; margin-right:-15px; margin-top:-5px !important; height: 88vh; padding-left:15px; padding-right:15px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-5">
        <div class="table-active p-4" style="background: #ececec; border-radius: 5px;">
            <div class="profile-pic mb-5">
                <img src="assets/images/profile/nouser.jpg" />
                <h6 class="text-center font-weight-bold text-uppercase pt-1 mb-0">Nicholas Alcock </h6>
                <span class="d-block text-center text-secondary"><em>Alcock</em></span>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left pb-4 pt-1" style="border-right: 2px solid #ccc;">
                    <h5 class="sub-heading text-uppercase font-weight-bold">Basic Information</h5>
                    <div class="border bg-white pt-3 pb-3 clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                <span><i class="fa fa-user text-info"></i> Name</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                <span class="text-secondary">Nicholas Alcock</span>
                        </div>
                    </div>
                    <div class="border bg-white pt-3 pb-3 clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span><i class="fa fa-calendar text-info"></i> Date of Birth</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span class="text-secondary">12/03/1992</span>
                            </div>
                            
                    </div>
                    <div class="border bg-white pt-3 pb-3 clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span><i class="fa fa-user text-info"></i> Gender</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span class="text-secondary">Male</span>
                            </div>
                            
                    </div>
                    <div class="border bg-white pt-3 pb-3 clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span><i class="fa fa-user text-info"></i> Marital Status</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span class="text-secondary">Married</span>
                            </div>
                            
                    </div>
                    <div class="border bg-white pt-3 pb-3 clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span><i class="fa fa-mobile text-info"></i> Mobile No.</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span class="text-secondary">972568458</span>
                            </div>

                    </div>
                    <div class="border bg-white pt-3 pb-3 clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span><i class="fa fa-phone text-info"></i> Home Phone No.</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span class="text-secondary">972568458</span>
                            </div>

                    </div>                    
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                    <h5 class="sub-heading text-uppercase font-weight-bold">Main Information</h5>
                    <div class="border bg-white pt-3 pb-3 clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span><i class="fa fa-map-marker text-info"></i> Home Address</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span class="text-secondary"> 405, Street no. 1 Wellington <br />New Zealand - 5010 </span>
                            </div>
                        
                    </div>
                    <div class="border bg-white pt-3 pb-3 clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span><i class="fa fa-map-marker text-info"></i> Work Address</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span class="text-secondary"> 405, Street no. 1 Wellington <br />New Zealand - 5010 </span>
                            </div>
                    </div>
                    <div class="border bg-white pt-3 pb-3 clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span><i class="fa fa-envelope text-info"></i> Email Id</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span class="text-primary">abc@gmail.com</span>
                            </div>
                    </div>
                    <div class="border bg-white pt-3 pb-3 clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span><i class="fa fa-phone text-info"></i> Work Phone No.</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <span class="text-secondary">972568458</span>
                            </div>
                    </div>              
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="content-section">
    <div class="col-lg-12 col-md-12">
        <h3 class="text-uppercase border-bottom pb-2">Personal</h3>
        <div class="content-area mt-4 position-relative clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="bg-white border pl-2 pr-2 pt-4 pb-4 m-2">
                    <div class="row pb-3 mb-3 ml-0 mr-0">
                        <div class="profile-top w-100 pb-4">                   
                            <div class="col-lg-3 col-md-3 col-sm-3 col-12 float-left">
                                <div class="user-pic">
                                    <img src="assets/images/profile/nouser.jpg" />
                                </div>                
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-12 float-left">
                                <h5 class="text-uppercase">Nicholas Alcock <br /> </h5>
                                <span>
                                    <em><a href="#">Product Designere</a></em>
                                </span>
                                <div class="w-100 pt-2 pb-2 float-left">
                                    <button type="submit" class="btn btn-sm btn-dark"><i class="fa fa-envelope"></i> Send Messages </button>
                                    <button type="submit" class="btn btn-sm btn-info"><i class="fa fa-edit text-white"></i> Edit Info</button>
                                    <button type="submit" class="btn btn-sm btn-secondary"><i class="fa fa-upload text-white"></i> Upload Pic</button>
                                </div>
                            </div>
                        </div>                
                    </div>
                    <div class="row m-0">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-12 float-left">
                            <div class="row m-0">
                                <div class="">
                                    <div class="w-100 float-left">
                                        <label class="font-weight-bold"><i class="fa fa-map-marker text-info"></i> Home Address</label>
                                    </div>
                                    <div class="w-100 pl-2 pr-2 float-left">
                                        <span class="text-secondary"> 405, Street no. 1 Wellington <br />New Zealand - 5010 </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-0 mr-0 mt-3">
                                <div class="">
                                    <div class="w-100 float-left">
                                        <label class="font-weight-bold"><i class="fa fa-map-marker text-info"></i> Work Address</label>
                                    </div>
                                    <div class="w-100 pl-2 pr-2 float-left">
                                        <span class="text-secondary"> 405, Street no. 1 Wellington <br />New Zealand - 5010 </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-0 mr-0 mt-3">
                                <div class="">
                                    <div class="w-100 float-left">
                                        <label class="font-weight-bold"><i class="fa fa-envelope text-info"></i> Email Address</label>
                                    </div>
                                    <div class="w-100 pl-2 pr-2 float-left">
                                        <a href="mailto:abc@gmail.com">abc@gmail.com</a>
                                    </div>
                                </div>
                            </div>                                        
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-12 float-left">                            
                            <div class="row pb-2">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                    <label class="font-weight-bold"><i class="fa fa-calendar text-info"></i> Date of Birth</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-6 col-12 float-left">
                                    <span class="text-secondary">12/03/1992</span>
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                    <label class="font-weight-bold"><i class="fa fa-user text-info"></i> Gender</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-6 col-12 float-left">
                                    <span class="text-secondary">Male</span>
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                    <label class="font-weight-bold"><i class="fa fa-user text-info"></i> Marital Status</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-6 col-12 float-left">
                                    <span class="text-secondary">Married</span>
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                    <label class="font-weight-bold"><i class="fa fa-phone text-info"></i> Home Phone No.</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-6 col-12 float-left">
                                    <span><a href="tel:12347589">12347589</a></span>
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                    <label class="font-weight-bold"><i class="fa fa-mobile text-info"></i> Mobile No.</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-6 col-12 float-left">
                                    <span><a href="tel:12347589">12347589</a></span>
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                    <label class="font-weight-bold"><i class="fa fa-phone text-info"></i> Work Phone No.</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-6 col-12 float-left">
                                    <span><a href="tel:12347589">12347589</a></span>
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                    <label class="font-weight-bold"><i class="fa map-marker text-info"></i> NZ Residents</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-6 col-12 float-left">
                                    <span class="text-secondary">Wellington</span>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>-->