.profile-section {
    float: left;
    width: 235px;
    box-sizing: border-box;
}

.profile {
    background: #57777b;
    max-height: 68px;
}

    .profile h3 {
        font-size: 18px;
        padding-top: 18px;
        padding-left: 5px;
    }

.client-pic {
    max-width: 60px;
}

    .client-pic img {
        width: 60px;
        border-radius: 50%;
        height:60px;
    }

.headsection {
    margin:0px 0px 20px 0px;
    padding: 0px;
    background: #f2f2f2;
    box-shadow: 0px 2px 5px #9f9f9f;
}

    .headsection ul li {
        display: block;
        padding: 13px 0px 13px 15px;
        float: left;
    }

        .headsection ul li button {
            line-height: 20px;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
        }

.nav-client {
    padding-top: 12px;
}

.detailbox1, .detailbox2, .detailbox3 { border-radius: 5px; }
.detailbox1 { background: linear-gradient(58deg,#f44336,#673ab7); }
.detailbox2 { background: linear-gradient(58deg,#009688,#673ab7); }
.detailbox3 { background: linear-gradient(58deg,#aaa315,#673ab7); }
.bottom-value { font-size: 45px; }


.content-section {
    margin-top: 20px;
}

.dashboard-header {
    margin: 0px;
    padding: 0px;
}

    .dashboard-header .box1 {
        font-size: 30px;
    }

.box-bottom {
    background: rgba(0,0,0, .2);
}

.loan-section {
    background: rgba(0,0,0,.075);
    margin: 20px 15px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
}

.content-section h3 {
    color: #379ec5;
    font-size: 24px;
}

.loan-section .loan-content {
    background: #ffffff;
    margin: 10px 0px;
}

.sidebar-section {
    margin: 20px 15px;
    box-shadow: 0px 0px 10px #ccc;
}

.content-area {
    background: #f7f7f7;
    border-radius: 5px;
    padding: 20px 0px;
    font-size: 14px;
}

.user-pic img {
    border: 1px solid #ccc;
    padding: 2px;
    max-width: 220px;
}

.communication-box {
    background: #f7f7f7;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 2px rgba(0,0,0,.24),0 0 2px rgba(0,0,0,.12);
    transition: all ease-in-out .4s;
    height: 263px;
}
    /*.communication-box:hover { transform: scale(1.012, 1.012); }*/
    .communication-box h5 {
        font-size: 16px;
    }

    .communication-box span {
        font-size: 14px;
        display: block;
    }

    .communication-edit h5 {
        font-size: 18px;
        color: #379ec5;
    }

.border-bottom {
    border-bottom: 1px solid #cccccc;
}

.add-address {
    background: url("assets/images/add-address.png") no-repeat center center;
    height: 180px;
    cursor: pointer;
}

.client-dialog {
    width: 700px;
}

    .client-dialog h4 {
        color: #379ec5;
        font-size: 20px;
    }

    .client-dialog .mat-form-field {
        width: 100%;
    }

.dialog-bottom input[type="button"] {
    padding: 5px 10px;
    font-size: 14px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.mat-dialog-container {
    background: #ececec;
    border-radius: 5px !important;
}

.client-dialog .bg-white {
    border-radius: 5px;
}

.profile-top {
    border-bottom: 1px solid #eaeaea;
}

.sub-heading {
    color: #379ec5;
    font-size: 18px;
}

.qualification-section .mat-table {
    background: #ececec;
}

.qualification-section .mat-header-row {
    background: #57777b;
}

.qualification-section .mat-header-cell {
    font-size: 14px;
}

.emp-block {
    border: 1px solid #dddddd;
    padding: 20px;
    border-radius: 2px;
    margin-bottom: 15px;
    background: #ececec;
    transition: all ease-in-out .5s;
}

.fnc-hover {
    transition: all ease-in-out .5s;
}

.emp-block:hover {
    background: #ffffff;
}

    .emp-block:hover .fnc-hover {
        transform: scale(1.012, 1.012);
    }

    .emp-block:hover .emp-icon {
        transform: rotate(360deg) scale(1.002, 1.002);
    }

.emp-block .emp-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    margin: 12px auto;
    background: #188caf;
    transition: all ease-in-out .9s;
}

.qualification-details .top-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}


/* new design */

.profile-pic {
    width: 150px;
    margin: 0 auto;
}

    .profile-pic img {
        width: 150px;
        border-radius: 50%;
        padding: 2px;
        background: #ffffff;
        border: 1px solid #ccc;
        margin-top: -70px;
        height:150px;
    }

input[type="button"], input[type="submit"] {
    font-family: FontAwesome;
}
/*.edit-hover { position: absolute; z-index: 10; background: #ffffff url(assets/images/edit.png) no-repeat right 80px; display: none; top:0px; width: 150px; height: 150px; border-radius: 50%; top: -70px; cursor: pointer;}
.profile-pic:hover .edit-hover { display: block; opacity: .7;}
.info-field.position-relative:hover .edit-info { display: block; }
.info-field.position-relative:hover { opacity: .8;}*/
.personal-innersection {
    background: #ececec;
    border-radius: 5px;
}

.edit-info {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 10px;
    cursor: pointer;
    padding: 8px 10px;
    ;
    width: 45px;
    height: 45px;
}

    .edit-info i {
        color: #09802d;
        font-size: 27px;
    }

    .edit-info:hover {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
    }

        .edit-info:hover i {
            color: #660909;
        }

.personal-innersection .top-btn {
    z-index: 10;
    top: 20px;
    right: 10px;
}

.personal-details { max-height:50vh; overflow-y:auto;}

.personal-border { border-right: 2px solid #ccc; }


/* media query */

@media (max-width: 1200px) {
    
    .detailbox1.p-4, .detailbox2.p-4, .detailbox3.p-4 {
        padding: 15px !important;
    }

    .detailbox1 h3, .detailbox2 h3, .detailbox3 h3, .bottom-value {
        font-size: 22px;
    }

}

@media ( max-width: 991px ) {
    .profile-section { width:auto; }
    .profile { background:none; }
    .profile-section h3 {color:#17a2b8 !important; }
}

@media ( max-width: 767px ) {
    .personal-innersection .top-btn { position:relative !important; top:0px; right:0px; text-align:center; }
    .profile-pic.mb-5 { margin-bottom:20px !important;}
    .personal-border { border-right:none;}
    .top-btn { position:relative !important; float:right; margin-bottom:10px; display:block; width:100%; }
    .qualification-section .mat-header-row { display:none; }
    .qualification-section .mat-row, .qualification-section .mat-cell { display: block; padding-top:5px; padding-bottom:5px; }
    .qualification-section .mat-row { min-height:initial; border-top:1px solid #ffffff;}
    .qualification-section .mat-cell:before { left: 6px; width: 45%; font-weight: 600; content: attr(title); }
    .qualification-section .mat-cell { border-left:1px solid #ebebeb !important; border-right:1px solid #ebebeb !important; }
    .personal-innersection .row { width:100%; }
}
