<div [@routerTransition] class="application-details client-details">
    <app-page-header [heading]="'Purpose Of Loan Types'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <kendo-grid [kendoGridBinding]="_PurposeofloanTypes"
                [pageSize]="8"
                [sortable]="true"
                [pageable]="true"
                [scrollable]="true"
                [filterable]="true"
                [groupable]="true"
                selectable="true"
                 #PurposeofloanTypes
                 (selectionChange)="GridSelectionChange(PurposeofloanTypes, $event)">
        <kendo-grid-column field="PurposeOfLoan" title="Purpose of Loan">
        </kendo-grid-column>
        <kendo-grid-column field="IsActive" title="Status">
            <ng-template kendoGridCellTemplate let-dataItem>
                <label *ngIf="dataItem.IsActive">Activated</label>
                <label *ngIf="!dataItem.IsActive">Deactivated</label>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-command-column>
            <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                <button class="btn btn-sm btn-default" type="button" (click)="SwitchStatus(dataItem.ID)" *ngIf="dataItem.IsActive"><i class="fa fa-ban text-danger"></i> Deactivate</button>
                <button class="btn btn-sm btn-default" type="button" (click)="SwitchStatus(dataItem.ID)" *ngIf="!dataItem.IsActive"><i class="fa fa-check-square-o text-success"></i> Activate</button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>

    <div id="exTab1">
        <div class="row">
            <div class="col-md-12">
                <div class="section_box pl-0 pb-0 pr-0 mt-4">
                    <div class="tab-content clearfix">
                        <h3 class="sub-head text-center">{{_Operationtitle}} Purposeofloan Type</h3>
                        <div class="row m-0">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-md-12 float-left">
                                <div class="field_set w-100">
                                    <div class="field_info w-100">
                                        <mat-form-field>
                                            <input matInput placeholder="Purposeofloan type" value="{{_PurposeofloanObj.PurposeOfLoan}}" [(ngModel)]="_PurposeofloanObj.PurposeOfLoan" #PurposeOfLoan>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="w-100 float-left btn-bottom text-right">
                            <input type="button" value="&#xf0c7; Save" (click)="AddPurposeofloanType()" class="btn btn-success" *ngIf="_Operationtitle=='Add'" />
                            <input type="button" value="&#xf0c7; Update" (click)="UpdatePurposeofloanType()" class="btn btn-success" *ngIf="_Operationtitle=='Update'" />
                            <input type="button" value="&#xf00d; Cancel" (click)="CancelPurposeofloanType()" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
