<form name="form" #AddEditAddressform="ngForm" novalidate>
    <div class="border-bottom pb-3">
        <p class="text-success font-weight-bold" *ngIf="!_successMessage">Are you sure want to delete this communication address ? </p>
        <p class="text-success font-weight-bold" *ngIf="_successMessage">Your record is deleted successfully!</p>
        <!--(click)="onClick($event)"--> 
    </div>
    <div class="row mt-3 dialog-bottom">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
            <input type="button" value="&#xf0c7; Yes" (click)="deleteAddress()" class="btn btn-sm btn-success"  *ngIf="!_successMessage"/><!--*ngIf="!_yesClicked"--> 
            <input type="button" value="&#xf00d; No" (click)="onNoClick()" class="btn btn-sm btn-danger" *ngIf="!_successMessage"/>

        </div>
    </div>
    </form>

