<div [@routerTransition] class="master-forms">
    <app-page-header [heading]="'Liability Types'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <kendo-grid [kendoGridBinding]="_LiabilityTypes"
                [pageSize]="10"
                [sortable]="true"
                [pageable]="true"
                [scrollable]="true"
                [filterable]="true"
                [groupable]="true"
                selectable="true"
                #LiabilityTypes
                (selectionChange)="GridSelectionChange(LiabilityTypes, $event)">
        <kendo-grid-column field="Description" title="Liability Type">
        </kendo-grid-column>
        <kendo-grid-column field="IsActive" title="Status">
            <ng-template kendoGridCellTemplate let-dataItem>
                <label *ngIf="dataItem.IsActive">Activated</label>
                <label *ngIf="!dataItem.IsActive">Deactivated</label>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-command-column>
            <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                <button class="btn btn-lg btn-link" type="button" (click)="SwitchStatus(dataItem.AutoID)" *ngIf="dataItem.IsActive"><i class="fa fa-ban text-danger"></i> Deactivate</button>
                <button class="btn btn-lg btn-link" type="button" (click)="SwitchStatus(dataItem.AutoID)" *ngIf="!dataItem.IsActive"><i class="fa fa-check-square-o text-success"></i> Activate</button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>

    <div id="exTab1" >
        <div class="row">
            <div class="col-md-12">
                <div class="section_box">
                    <div class="box_title">{{_Operationtitle}} Liability Type</div>
                    <div class="tab-content clearfix">
                        <div class="tab-pane active">
                            <div class="field_set">
                                <div class="field_label">Liability Type</div>
                                <div class="field_info">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Liability type" value="{{_LiabilityObj.Description}}" [(ngModel)]="_LiabilityObj.Description" #Description>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="float-right">
                            <input type="button" value="Save" (click)="AddLiabilityType()" class="btn btn-success" *ngIf="_Operationtitle=='Add'" />
                            <input type="button" value="Update" (click)="UpdateLiabilityType()" class="btn btn-success" *ngIf="_Operationtitle=='Update'" />
                            <input type="button" value="Cancel" (click)="CancelLiabilityType()" class="btn btn-secondary" />
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>