
<div class="application-details client-details">
    <div>
        <kendo-grid [kendoGridBinding]="_ClientCommunicationDetails"
                    [pageSize]="5"
                    [sortable]="true"
                    [pageable]="true"
                    [scrollable]="true"
                    [filterable]="true"
                    [groupable]="true"
                    selectable="true"
                    #CommunicationID
                    (selectionChange)="GridSelectionChange(CommunicationID, $event)">
            <kendo-grid-column field="_AddressTypeDetail.Type" title="Address Type">
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <label title="Address Type: ">{{dataItem._AddressTypeDetail.Type}}</label>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="AddressLine1" title="Address Line 1">
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <label title="Address Line 1: ">{{dataItem.AddressLine1}}</label>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="AddressLine2" title="Address Line 2">
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <label title="Address Line 2: ">{{dataItem.AddressLine2}}</label>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="AddressLine3" title="Address Line 3">
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <label title="Address Line 3: ">{{dataItem.AddressLine3}}</label>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="Country" title="Country">
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <label title="Country: ">{{dataItem.Country}}</label>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="ZipCode" title="Zip Code">
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <label title="Zip Code: ">{{dataItem.ZipCode}}</label>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </div>
    <div class="w-100 float-left mt-3">
        <form name="form" #AddClientCommunicationform="ngForm" novalidate>
            <div class="section_box pb-0 pl-0 pr-0">
                <div class="tab-content clearfix ml-0">
                    <div class="w-100 float-left">
                        <h3 class="sub-head text-center">{{_Operationtitle}} Communication Details</h3>
                        <div class="tab-pane pt-3">
                            <div class="row m-0">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                    <div class="field_set">
                                        <div class="field_info w-100">
                                            <mat-form-field>
                                                <mat-select [(value)]="_ClientCommDetailsObj.AddressType" placeholder="Address Type">
                                                    <mat-option>None</mat-option>
                                                    <mat-option value="1">Work</mat-option>
                                                    <mat-option value="2">Residence- Temporary</mat-option>
                                                    <mat-option value="3">Residence- Permanent</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                    <div class="field_set">

                                        <div class="field_info w-100">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Address Line 1" value="{{_ClientCommDetailsObj.AddressLine1}}" [(ngModel)]="_ClientCommDetailsObj.AddressLine1" name="AddressLine1" #AddressLine1="ngModel" required>
                                                <div *ngIf="AddressLine1.invalid && (AddressLine1.dirty || AddressLine1.touched)" class="alert alert-danger">
                                                    <div *ngIf="AddressLine1.errors.required">
                                                        Please enter Address Line 1.
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                    <div class="field_set">

                                        <div class="field_info w-100">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Address Line 2" value="{{_ClientCommDetailsObj.AddressLine2}}" [(ngModel)]="_ClientCommDetailsObj.AddressLine2" name="AddressLine2" #AddressLine2="ngModel" required>
                                                <div *ngIf="AddressLine2.invalid && (AddressLine2.dirty || AddressLine2.touched)" class="alert alert-danger">
                                                    <div *ngIf="AddressLine2.errors.required">
                                                        Please enter Address Line 2.
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                    <div class="field_set">

                                        <div class="field_info w-100">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Address Line 3" value="{{_ClientCommDetailsObj.AddressLine3}}" [(ngModel)]="_ClientCommDetailsObj.AddressLine3" name="AddressLine3" #AddressLine3="ngModel" required>
                                                <div *ngIf="AddressLine3.invalid && (AddressLine3.dirty || AddressLine3.touched)" class="alert alert-danger">
                                                    <div *ngIf="AddressLine3.errors.required">
                                                        Please enter Address Line 3.
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                    <div class="field_set">

                                        <div class="field_info w-100">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Country" value="{{_ClientCommDetailsObj.Country}}" [(ngModel)]="_ClientCommDetailsObj.Country" name="Country" #Country="ngModel" required>
                                                <div *ngIf="Country.invalid && (Country.dirty || Country.touched)" class="alert alert-danger">
                                                    <div *ngIf="Country.errors.required">
                                                        Please enter Country.
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                    <div class="field_set">
                                        <div class="field_info w-100">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Zip Code" value="{{_ClientCommDetailsObj.ZipCode}}" [(ngModel)]="_ClientCommDetailsObj.ZipCode" name="ZipCode" #ZipCode="ngModel" required>
                                                <div *ngIf="ZipCode.invalid && (ZipCode.dirty || ZipCode.touched)" class="alert alert-danger">
                                                    <div *ngIf="ZipCode.errors.required">
                                                        Please enter Zip Code.
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row m-0 btn-bottom pr-4 pl-4">
                    <div class="w-100 float-left text-right">
                        <input type="submit" value="&#xf0c7; Save" (click)="AddCommunicationDetails();AddClientCommunicationform.reset()" [disabled]="!AddClientCommunicationform.form.valid" *ngIf="!_EditCommunicationDetails" class="btn btn-success" />
                        <input type="button" value="&#xf0c7; Update" (click)="UpdateCommunicationDetails();AddClientCommunicationform.reset()" [disabled]="!AddClientCommunicationform.form.valid" *ngIf="_EditCommunicationDetails " class="btn btn-success" />
                        <input type="button" value="&#xf00d; Cancel" (click)="CancelAddEditCommunicationDetails();AddClientCommunicationform.reset()" class="btn btn-secondary" />

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


