<div class="row m-0">
    <div class="w-100 float-left">
        <div class="section_box">
            <div class="box_title">Communication Details</div>
            <div class="tab-content clearfix ml-0">
                <div class="w-100 float-left">
                    <div class="tab-pane active" *ngFor="let _ApplicantCommunicationDetail of _ApplicantCommunicationDetails;">
                        <div class="row m-0">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                <div class="field_set">
                                    <div class="field_label">Adress type:</div>
                                    <div class="field_info">
                                        <p>{{_ApplicantCommunicationDetail._AddressTypeMaster.Type}}</p>
                                    </div>
                                </div>
                                <div class="field_set">
                                    <div class="field_label">Address</div>
                                    <div class="field_info">
                                        <p *ngIf="!_EditCommunicationDetails">{{_ApplicantCommunicationDetail.AddressLine1}} {{_ApplicantCommunicationDetail.AddressLine2}} {{_ApplicantCommunicationDetail.AddressLine3}}</p>
                                        <mat-form-field class="example-full-width" *ngIf="_EditCommunicationDetails">
                                            <input matInput placeholder="Address Line 1" value="{{_ApplicantCommunicationDetail.AddressLine1}}" [(ngModel)]="_ApplicantCommunicationDetail.AddressLine1" #AddressLine1>
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width" *ngIf="_EditCommunicationDetails">
                                            <input matInput placeholder="Address Line 2" value="{{_ApplicantCommunicationDetail.AddressLine2}}" [(ngModel)]="_ApplicantCommunicationDetail.AddressLine2" #AddressLine2>
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width" *ngIf="_EditCommunicationDetails">
                                            <input matInput placeholder="Address Line 3" value="{{_ApplicantCommunicationDetail.AddressLine3}}" [(ngModel)]="_ApplicantCommunicationDetail.AddressLine3" #AddressLine3>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 float-left text-right">
                        <input type="button" value="&#xf0c7; Save" (click)="UpdateCommunicationDetails()" *ngIf="_EditCommunicationDetails" class="btn btn-success" />
                        <input type="button" value="&#xf00d; Cancel" (click)="EditCommunicationDetails()" *ngIf="_EditCommunicationDetails" class="btn btn-secondary" />
                        <input type="button" value="&#xf040; Edit" (click)="EditCommunicationDetails()" *ngIf="!_EditCommunicationDetails" class="btn btn-info" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>