<input type="button" value="Add Client" (click)="AddClient()" *ngIf="!_EditPersonalDetails" style="float:right;margin-top:20px; " class="btn btn-lg btn-success" />
<div id="exTab1" class="" style="margin-left:0; margin-top:70px; width:99%;">
    <div class="row">
        <div class="col-md-12">
            <div class="section_box">
                <div class="box_title">Client Personal Details</div>
                <div class="tab-content clearfix" style="margin-left:0;">

                    <div class="tab-pane active">
                        <div class="field_set">
                            <div class="field_label">Name</div>
                            <div class="field_info">
                                <p *ngIf="!_EditPersonalDetails">{{_ApplicantDetails.FirstName}} {{_ApplicantDetails.MiddleName}} {{_ApplicantDetails.LastName}}</p>
                                <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                    <input matInput placeholder="First" value="{{_ApplicantDetails.FirstName}}" [(ngModel)]="_ApplicantDetails.FirstName" #FirstName>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                    <input matInput placeholder="Middle" value="{{_ApplicantDetails.MiddleName}}" [(ngModel)]="_ApplicantDetails.MiddleName" #MiddleName>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                    <input matInput placeholder="Last" value="{{_ApplicantDetails.LastName}}" [(ngModel)]="_ApplicantDetails.LastName" #LastName>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="field_set">
                            <div class="field_label">Date of Birth</div>
                            <div class="field_info">
                                <p *ngIf="!_EditPersonalDetails">{{_ApplicantDetails.DateOfBirth}}</p>
                                <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                    <input matInput placeholder="Last" value="{{_ApplicantDetails.DateOfBirth}}" [(ngModel)]="_ApplicantDetails.DateOfBirth" #DateOfBirth>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="field_set">
                            <div class="field_label">No of dependents</div>
                            <div class="field_info">
                                <mat-form-field *ngIf="_EditPersonalDetails">
                                    <mat-select [(value)]="_ApplicantDetails.NoOfDependents">
                                        <mat-option>None</mat-option>
                                        <mat-option value="0">0</mat-option>
                                        <mat-option value="1">1</mat-option>
                                        <mat-option value="2">2</mat-option>
                                        <mat-option value="3">3</mat-option>
                                        <mat-option value="4">4</mat-option>
                                        <mat-option value="5">5</mat-option>
                                        <mat-option value="6">6</mat-option>
                                        <mat-option value="7">7</mat-option>
                                        <mat-option value="8">8</mat-option>
                                        <mat-option value="9">9</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <p *ngIf="!_EditPersonalDetails">{{_ApplicantDetails.NoOfDependents}}</p>
                            </div>
                        </div>
                        <div class="field_set">
                            <div class="field_label">Marital status</div>
                            <div class="field_info">
                                <p *ngIf="!_EditPersonalDetails">{{_ApplicantDetails.MaritalStatus}}</p>
                                <mat-form-field *ngIf="_EditPersonalDetails">
                                    <mat-select [(value)]="_ApplicantDetails.MaritalStatus">
                                        <mat-option>None</mat-option>
                                        <mat-option value="Married">Married</mat-option>
                                        <mat-option value="Unmarried">Unmarried</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <input type="button" value="Save" (click)="UpdatePersonalDetails()" *ngIf="_EditPersonalDetails" style="float:right;    margin-left: 5px;" class="btn btn-lg btn-primary" />
                    <input type="button" value="Cancel" (click)="EditPersonalDetails()" *ngIf="_EditPersonalDetails" style="float:right;" class="btn btn-lg btn-primary" />
                    <input type="button" value="Edit" (click)="EditPersonalDetails()" *ngIf="!_EditPersonalDetails" style="float:right;" class="btn btn-lg btn-primary" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="section_box">
                <div class="box_title">Client Communication Details</div>
                <div class="tab-content clearfix" style="margin-left:0;">

                    <div class="tab-pane active" *ngFor="let _ApplicantCommunicationDetail of _ApplicantCommunicationDetails;">
                        <div class="field_set">
                            <div class="field_label">Email address</div>
                            <div class="field_info">
                                <p *ngIf="!_EditCommunicationDetails">{{_ApplicantCommunicationDetail.EmailID}}</p>
                                <mat-form-field class="example-full-width" *ngIf="_EditCommunicationDetails">
                                    <input matInput placeholder="Email address" value="{{_ApplicantCommunicationDetail.EmailID}}" [(ngModel)]="_ApplicantCommunicationDetail.EmailID" #EmailID>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="field_set">
                            <div class="field_label">Mobile No</div>
                            <div class="field_info">
                                <p *ngIf="!_EditCommunicationDetails">{{_ApplicantCommunicationDetail.MobileNo}}</p>
                                <mat-form-field class="example-full-width" *ngIf="_EditCommunicationDetails">
                                    <input matInput placeholder="Mobile No" value="{{_ApplicantCommunicationDetail.MobileNo}}" [(ngModel)]="_ApplicantCommunicationDetail.MobileNo" #MobileNo>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="field_set">
                            <div class="field_label">Home Phone No</div>
                            <div class="field_info">
                                <p *ngIf="!_EditCommunicationDetails">{{_ApplicantCommunicationDetail.HomePhoneNo}}</p>
                                <mat-form-field class="example-full-width" *ngIf="_EditCommunicationDetails">
                                    <input matInput placeholder="Home Phone No" value="{{_ApplicantCommunicationDetail.HomePhoneNo}}" [(ngModel)]="_ApplicantCommunicationDetail.HomePhoneNo" #HomePhoneNo>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="field_set">
                            <div class="field_label">Work Phone No</div>
                            <div class="field_info">
                                <p *ngIf="!_EditCommunicationDetails">{{_ApplicantCommunicationDetail.WorkPhoneNo}}</p>
                                <mat-form-field class="example-full-width" *ngIf="_EditCommunicationDetails">
                                    <input matInput placeholder="Work Phone No" value="{{_ApplicantCommunicationDetail.WorkPhoneNo}}" [(ngModel)]="_ApplicantCommunicationDetail.WorkPhoneNo" #WorkPhoneNo>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="field_set">
                            <div class="field_label">Address</div>
                            <div class="field_info">
                                <p *ngIf="!_EditCommunicationDetails">{{_ApplicantCommunicationDetail.AddressLine1}} {{_ApplicantCommunicationDetail.AddressLine2}} {{_ApplicantCommunicationDetail.AddressLine3}}</p>
                                <mat-form-field class="example-full-width" *ngIf="_EditCommunicationDetails">
                                    <input matInput placeholder="Address Line 1" value="{{_ApplicantCommunicationDetail.AddressLine1}}" [(ngModel)]="_ApplicantCommunicationDetail.AddressLine1" #AddressLine1>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" *ngIf="_EditCommunicationDetails">
                                    <input matInput placeholder="Address Line 2" value="{{_ApplicantCommunicationDetail.AddressLine2}}" [(ngModel)]="_ApplicantCommunicationDetail.AddressLine2" #AddressLine2>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" *ngIf="_EditCommunicationDetails">
                                    <input matInput placeholder="Address Line 3" value="{{_ApplicantCommunicationDetail.AddressLine3}}" [(ngModel)]="_ApplicantCommunicationDetail.AddressLine3" #AddressLine3>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <input type="button" value="Edit" (click)="EditCommunicationDetails()" *ngIf="!_EditCommunicationDetails" style="float:right;" class="btn btn-lg btn-primary" />
                    <input type="button" value="Cancel" (click)="EditCommunicationDetails()" *ngIf="_EditCommunicationDetails" style="float:right;    margin-left: 5px;" class="btn btn-lg btn-primary" />
                    <input type="button" value="Save" (click)="UpdateCommunicationDetails()" *ngIf="_EditCommunicationDetails" style="float:right;" class="btn btn-lg btn-primary" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="display:none;">
        <div class="col-md-12">
            <div class="section_box">
                <div class="box_title">Qualification Details</div>
                <div class="tab-content clearfix" style="margin-left:0;">
                    <div class="tab-pane active">
                        Content's background color is the same for the tab
                    </div>
                    <div class="tab-pane active">
                        We applied clearfix to the tab-content to rid of the gap between the tab and the content
                    </div>
                    <div class="tab-pane active">
                        We use css to change the background color of the content to be equal to the tab
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>