<div  class="application-details">
    <div >
        <kendo-grid [kendoGridBinding]="_ClientQualificationDetails"
                    [pageSize]="2"
                    [sortable]="true"
                    [pageable]="true"
                    [scrollable]="true"
                    [filterable]="true"
                    [groupable]="true"
                    selectable="true"                    
                    #QualificationID
                    (selectionChange)="GridSelectionChange(QualificationID, $event)">

            <kendo-grid-column field="_QualificationTypeDetail.Qualifications" title="Type Of Qualification">
            </kendo-grid-column>
            <kendo-grid-column field="CourseName" title="Course Name">
            </kendo-grid-column>
            <kendo-grid-column field="UniversityName" title="University Name">
            </kendo-grid-column>
            <kendo-grid-column field="PassingYear" title="Passing Year">
            </kendo-grid-column>        
            
        </kendo-grid>
    </div>
</div>

<div class="row m-0">
    <div class="w-100 float-left">
        <div class="section_box pb-0 pl-0 pr-0">
            <div class="box_title">Qualification Details</div>
            <div class="tab-content clearfix ml-0">
                <div class="w-100 float-left">
                    <div class="tab-pane pt-3" >
                        <div class="row m-0">                           
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                    <div class="field_set">                                        
                                        <div class="field_info w-100">
                                            <mat-form-field class="example-full-width">
                                                <!--<input matInput placeholder="Qualification" value="{{_ClientQualificationDetailsObj._QualificationTypeDetail.Qualifications}}" [(ngModel)]="_ClientQualificationDetailsObj._QualificationTypeMaster.Qualifications" #_QualificationTypeMaster.Qualifications>-->
                                                <mat-select placeholder="Qualification Type" [(ngModel)]="_ClientQualificationDetailsObj._QualificationTypeDetail.ID" name="Qualifications" #Qualifications="ngModel">
                                                    <mat-option *ngFor="let qualificationType of _TypeOfQualification" [value]="qualificationType.ID">{{qualificationType.Qualifications}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>  
                                        </div>
                                    </div>
                                </div>                            
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                <div class="field_set">                                    
                                    <div class="field_info w-100">                                        
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Course name" value="{{_ClientQualificationDetailsObj.CourseName}}" [(ngModel)]="_ClientQualificationDetailsObj.CourseName" #CourseName>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                <div class="field_set">                                    
                                    <div class="field_info w-100">                                        
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Passing year" value="{{_ClientQualificationDetailsObj.PassingYear}}" [(ngModel)]="_ClientQualificationDetailsObj.PassingYear" #PassingYear>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                <div class="field_set">                                    
                                    <div class="field_info w-100">                                        
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="University" value="{{_ClientQualificationDetailsObj.UniversityName}}" [(ngModel)]="_ClientQualificationDetailsObj.UniversityName" #UniversityName>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>                    
                </div>
            </div>
            <div class="row m-0 btn-bottom pr-4 pl-4">                
                <div class="w-100 float-left text-right">
                    <input type="button" value="&#xf0c7; Save" (click)="AddQualificationDetails()" *ngIf="!_EditQualificationDetails" class="btn btn-lg btn-success" />
                    <input type="button" value="&#xf0c7; Update" (click)="UpdateQualificationDetails()" *ngIf="_EditQualificationDetails" class="btn btn-lg btn-success" />
                    <input type="button" value="&#xf00d; Cancel" (click)="CancelAddEditQualificationDetails()" class="btn btn-lg btn-secondary" />
                </div>
            </div>
        </div>
    </div>
</div>