<!----><div [@routerTransition] class="application-details">
    <div >
        <kendo-grid [kendoGridBinding]="_ClientEmploymentDetails"
                    [pageSize]="2"
                    [sortable]="true"
                    [pageable]="true"
                    [scrollable]="true"
                    [filterable]="true"
                    [groupable]="true"
                    selectable="true"
                    #EmploymentID
                    (selectionChange)="GridSelectionChange(EmploymentID, $event)">
            <kendo-grid-column field="SourceOfIncome" title="Source Of Income">
            </kendo-grid-column>
            <kendo-grid-column field="EmployerName" title="Employer Name">
            </kendo-grid-column>            
            <kendo-grid-column field="Duration" title="Duration">
            </kendo-grid-column>

            <kendo-grid-column field="Income" title="Income">
            </kendo-grid-column>            
            <kendo-grid-column field="Status" title="Remarks">
            </kendo-grid-column>            
        </kendo-grid>
    </div>
</div>
<div class="w-100 float-left">
    <div class="section_box pb-0 pl-0 pr-0" >
        <div class="box_title">Employment Details</div>
        <div class="tab-content clearfix ml-0">
            <div class="w-100 float-left">
                <div class="tab-pane pt-3">
                    <div class="row m-0">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                            <div class="field_set">
                                <div class="field_label">Source Of Income</div>
                                <div class="field_info">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Source Of Income" value="{{_ClientEmployementDetailsObj.SourceOfIncome}}" [(ngModel)]="_ApplicantEmployementDetail.SourceOfIncome" #SourceOfIncome>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                            <div class="field_set">
                                <div class="field_label">Employer</div>
                                <div class="field_info">                                    
                                    <mat-form-field class="example-full-width" >
                                        <input matInput placeholder="Employer" value="{{_ClientEmployementDetailsObj.EmployerName}}" [(ngModel)]="_ApplicantEmployementDetail.EmployerName" #EmployerName>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                            <div class="field_set">
                                <div class="field_label">Income</div>
                                <div class="field_info">                                    
                                    <mat-form-field class="example-full-width" >
                                        <input matInput placeholder="Income" value="{{_ClientEmployementDetailsObj.Income}}" [(ngModel)]="_ApplicantEmployementDetail.Income" #Income>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                            <div class="field_set">
                                <div class="field_label">Duration</div>
                                <div class="field_info">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Duration" value="{{_ClientEmployementDetailsObj.Duration}}" [(ngModel)]="_ApplicantEmployementDetail.Duration" #Duration>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 btn-bottom pr-4 pl-4">
            <div class="w-100 float-left text-right">
                <input type="button" value="&#xf0c7; Save" (click)="UpdateEmployementDetails()"  class="btn btn-lg btn-success" />
                <input type="button" value="&#xf00d; Cancel" (click)="EditEmployementDetails()"  class="btn btn-lg btn-secondary" />
                <input type="button" value="&#xf040; Edit" (click)="EditEmployementDetails()"  class="btn btn-lg btn-info" />
            </div>
        </div>
    </div>    
</div>