<!--<div class="w-100 float-left text-right pt-4">
    <input type="button" value="&#xf067; Add Client" (click)="AddClient()" *ngIf="!_EditPersonalDetails" class="btn btn-secondary" />
</div>-->
<div id="exTab1" class="w-100 float-left">
    <div class="row m-0">
        <div class="w-100 float-left">
            <div class="section_box">
                <div class="box_title">Personal Details</div>
                <div class="tab-content clearfix ml-0">
                    <div class="w-100 float-left">
                        <div class="tab-pane active">
                            <div class="row m-0">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                    <div class="field_set">
                                        <div class="field_label">Name</div>
                                        <div class="field_info">
                                            <p *ngIf="!_EditPersonalDetails">{{_ApplicantDetails.FirstName}} {{_ApplicantDetails.MiddleName}} {{_ApplicantDetails.LastName}}</p>
                                            <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                <input matInput placeholder="First" value="{{_ApplicantDetails.FirstName}}" [(ngModel)]="_ApplicantDetails.FirstName" #FirstName>
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                <input matInput placeholder="Middle" value="{{_ApplicantDetails.MiddleName}}" [(ngModel)]="_ApplicantDetails.MiddleName" #MiddleName>
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                <input matInput placeholder="Last" value="{{_ApplicantDetails.LastName}}" [(ngModel)]="_ApplicantDetails.LastName" #LastName>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                    <div class="field_set">
                                        <div class="field_label">Date of Birth</div>
                                        <div class="field_info">
                                            <p *ngIf="!_EditPersonalDetails">{{_ApplicantDetails.DateOfBirth}}</p>
                                            <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                <input matInput placeholder="Last" value="{{_ApplicantDetails.DateOfBirth}}" [(ngModel)]="_ApplicantDetails.DateOfBirth" #DateOfBirth>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                    <div class="field_set">
                                        <div class="field_label">No of dependents</div>
                                        <div class="field_info">
                                            <mat-form-field *ngIf="_EditPersonalDetails">
                                                <mat-select [(value)]="_ApplicantDetails.NoOfDependents">
                                                    <mat-option>None</mat-option>
                                                    <mat-option value="0">0</mat-option>
                                                    <mat-option value="1">1</mat-option>
                                                    <mat-option value="2">2</mat-option>
                                                    <mat-option value="3">3</mat-option>
                                                    <mat-option value="4">4</mat-option>
                                                    <mat-option value="5">5</mat-option>
                                                    <mat-option value="6">6</mat-option>
                                                    <mat-option value="7">7</mat-option>
                                                    <mat-option value="8">8</mat-option>
                                                    <mat-option value="9">9</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <p *ngIf="!_EditPersonalDetails">{{_ApplicantDetails.NoOfDependents}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                    <div class="field_set">
                                        <div class="field_label">Marital status</div>
                                        <div class="field_info">
                                            <p *ngIf="!_EditPersonalDetails">{{_ApplicantDetails.MaritalStatus}}</p>
                                            <mat-form-field *ngIf="_EditPersonalDetails">
                                                <mat-select [(value)]="_ApplicantDetails.MaritalStatus">
                                                    <mat-option>None</mat-option>
                                                    <mat-option value="Married">Married</mat-option>
                                                    <mat-option value="Unmarried">Unmarried</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                    <div class="field_set">
                                        <div class="field_label">Email address</div>
                                        <div class="field_info">
                                            <p *ngIf="!_EditPersonalDetails">{{_ApplicantDetails.EmailID}}</p>
                                            <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                <input matInput placeholder="Email address" value="{{_ApplicantDetails.EmailID}}" [(ngModel)]="_ApplicantDetails.EmailID" #EmailID>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row m-0">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                    <div class="field_set">
                                        <div class="field_label">Work Phone No</div>
                                        <div class="field_info">
                                            <p *ngIf="!_EditPersonalDetails">{{_ApplicantDetails.WorkPhoneNo}}</p>
                                            <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                <input matInput placeholder="Work Phone No" value="{{_ApplicantDetails.WorkPhoneNo}}" [(ngModel)]="_ApplicantDetails.WorkPhoneNo" #WorkPhoneNo>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                    <div class="field_set">
                                        <div class="field_label">Mobile No</div>
                                        <div class="field_info">
                                            <p *ngIf="!_EditPersonalDetails">{{_ApplicantDetails.MobileNo}}</p>
                                            <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                <input matInput placeholder="Mobile No" value="{{_ApplicantDetails.MobileNo}}" [(ngModel)]="_ApplicantDetails.MobileNo" #MobileNo>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                    <div class="field_set">
                                        <div class="field_label">Home Phone No</div>
                                        <div class="field_info">
                                            <p *ngIf="!_EditPersonalDetails">{{_ApplicantDetails.HomePhoneNo}}</p>
                                            <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                <input matInput placeholder="Home Phone No" value="{{_ApplicantDetails.HomePhoneNo}}" [(ngModel)]="_ApplicantDetails.HomePhoneNo" #HomePhoneNo>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="w-100 float-left text-right">
                        <input type="button" value="&#xf0c7; Save" (click)="UpdatePersonalDetails()" *ngIf="_EditPersonalDetails" class="btn btn-success" />
                        <input type="button" value="&#xf00d; Cancel" (click)="EditPersonalDetails()" *ngIf="_EditPersonalDetails" class="btn btn-secondary" />
                        <input type="button" value="&#xf040; Edit" (click)="EditPersonalDetails()" *ngIf="!_EditPersonalDetails" class="btn btn-info" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>