        <div class="back-btn">
            <button class="btn btn-lg btn-link text-white font-weight-bold" type="button" (click)="ViewDetails('ViewList')">Back</button>
        </div>
        <div class="w-100 float-left">
            <div class="application-details edit-texts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section_box p-0 mt-3 clearfix">
                            <form name="form" #AddLoanApplicantform="ngForm" novalidate>
                                <div class="tab-content clearfix ml-0">
                                    <h3 class="sub-head text-center pt-3 pb-4">Add Loan Application Form</h3>
                                    <div class="w-100 float-left">
                                        <div class="">
                                            <div class="row m-0">
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <mat-select placeholder="Advisor Group" [(ngModel)]="_AddLoanApplicationDetails._AdvisorID.AutoID" name="Advisor" #Advisor="ngModel" required>
                                                                    <mat-option *ngFor="let advsrdtl of _AdvisorID" [value]="advsrdtl.AutoID">{{advsrdtl.AdvisorGroup}}</mat-option>
                                                                </mat-select>
                                                                <div *ngIf="Advisor.invalid && (Advisor.dirty || Advisor.touched)" class="alert alert-danger">
                                                                    <div *ngIf="Advisor.errors.required ">
                                                                        Please select Advisor Group.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <input matInput placeholder="Application Form Number" [(ngModel)]="_AddLoanApplicationDetails.ApplicationFormNumber" name="ApplicationFormNumber" #ApplicationFormNumber="ngModel" required>
                                                                <div *ngIf="ApplicationFormNumber.invalid && (ApplicationFormNumber.dirty || ApplicationFormNumber.touched)" class="alert alert-danger">
                                                                    <div *ngIf="ApplicationFormNumber.errors.required ">
                                                                        Please enter Application Form Number.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <mat-select placeholder="Type of loan" [(ngModel)]="_AddLoanApplicationDetails._TypeOfLoanID.ID" name="LoanType" #LoanType="ngModel" required>
                                                                    <mat-option *ngFor="let TypeOfLoanID of _TypeOfLoanID" [value]="TypeOfLoanID.ID">{{TypeOfLoanID.LoanType}}</mat-option>
                                                                </mat-select>
                                                                <div *ngIf="LoanType.invalid && (LoanType.dirty || LoanType.touched)" class="alert alert-danger">
                                                                    <div *ngIf="LoanType.errors.required ">
                                                                        Please enter Loan Type.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <mat-select placeholder="Purpose Of Loan" [(ngModel)]="_AddLoanApplicationDetails._PurposeOfLoanID.ID" name="PurposeOfLoan" #PurposeOfLoan="ngModel" required>
                                                                    <mat-option *ngFor="let PurposeOfLoanValues of _PurposeOfLoanID" [value]="PurposeOfLoanValues.ID">{{PurposeOfLoanValues.PurposeOfLoan}}</mat-option>
                                                                </mat-select>
                                                                <div *ngIf="PurposeOfLoan.invalid && (PurposeOfLoan.dirty || PurposeOfLoan.touched)" class="alert alert-danger">
                                                                    <div *ngIf="PurposeOfLoan.errors.required ">
                                                                        Please select Purpose Of Loan.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-0">
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <input matInput placeholder="Priority" [(ngModel)]="_AddLoanApplicationDetails.Priority" name="Priority" #Priority="ngModel" required>
                                                                <div *ngIf="Priority.invalid && (Priority.dirty || Priority.touched)" class="alert alert-danger">
                                                                    <div *ngIf="Priority.errors.required ">
                                                                        Please select Priority.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <input matInput placeholder="Finance Required" [(ngModel)]="_AddLoanApplicationDetails.FinanceRequired" name="Finance" #Finance="ngModel" required>
                                                                <div *ngIf="Finance.invalid && (Finance.dirty || Finance.touched)" class="alert alert-danger">
                                                                    <div *ngIf="Finance.errors.required ">
                                                                        Please select Finance.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <input matInput placeholder="Cash In Hand" [(ngModel)]="_AddLoanApplicationDetails.CashInHand" name="CashInHand" #CashInHand="ngModel" required>
                                                                <div *ngIf="CashInHand.invalid && (CashInHand.dirty || CashInHand.touched)" class="alert alert-danger">
                                                                    <div *ngIf="CashInHand.errors.required ">
                                                                        Please select CashInHand.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <input matInput placeholder="Loan Term" [(ngModel)]="_AddLoanApplicationDetails.LoanTerm" name="LoanTerm" #LoanTerm="ngModel" required>
                                                                <div *ngIf="LoanTerm.invalid && (LoanTerm.dirty || LoanTerm.touched)" class="alert alert-danger">
                                                                    <div *ngIf="LoanTerm.errors.required ">
                                                                        Please select Loan Term.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row m-0 pt-2">
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <mat-select placeholder="Rate Type" [(ngModel)]="_AddLoanApplicationDetails._RateTypeID.ID" name="RateType" #RateType="ngModel" required>
                                                                    <mat-option *ngFor="let LoanrateTypeValues of _RateTypeID" [value]="LoanrateTypeValues.ID">{{LoanrateTypeValues.LoanRateType}}</mat-option>
                                                                </mat-select>
                                                                <div *ngIf="RateType.invalid && (RateType.dirty || RateType.touched)" class="alert alert-danger">
                                                                    <div *ngIf="RateType.errors.required ">
                                                                        Please select loan Type.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <input matInput placeholder="Frequency" [(ngModel)]="_AddLoanApplicationDetails.Frequency" name="Frequency" #Frequency="ngModel" required>
                                                                <div *ngIf="Frequency.invalid && (Frequency.dirty || Frequency.touched)" class="alert alert-danger">
                                                                    <div *ngIf="Frequency.errors.required ">
                                                                        Please select Frequency.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100 pt-3">
                                                        <div class="field_info w-100">
                                                            <label class="custom-radio-label">Is Any Guarantor</label>
                                                            <mat-radio-group [(ngModel)]="_AddLoanApplicationDetails.IsAnyGuarantor" name="IsAnyGuarantor" #IsAnyGuarantor="ngModel" class="w-100">
                                                                <mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
                                                                <mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
                                                                <div *ngIf="IsAnyGuarantor.invalid && (IsAnyGuarantor.dirty || IsAnyGuarantor.touched)" class="alert alert-danger">
                                                                    <div *ngIf="IsAnyGuarantor.errors.required ">
                                                                        Please select Is Any Guarantor.
                                                                    </div>
                                                                </div>
                                                            </mat-radio-group>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100 pt-3">
                                                        <div class="field_info w-100">
                                                            <label class="custom-radio-label">Is Pre-approval</label>
                                                            <mat-radio-group [(ngModel)]="_AddLoanApplicationDetails.IsPreApproval" (click)="SwitchApproval()" name="IsPreApproval" #IsPreApproval="ngModel" class="w-100" required>
                                                                <mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
                                                                <mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
                                                                <div *ngIf="IsPreApproval.invalid && (IsPreApproval.dirty || IsPreApproval.touched)" class="alert alert-danger">
                                                                    <div *ngIf="IsPreApproval.errors.required ">
                                                                        Please select IsPreApproval.
                                                                    </div>
                                                                </div>
                                                            </mat-radio-group>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row m-0 pt-2">
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <input matInput [matDatepicker]="DateArriveFrom" placeholder="MM/DD/YYYY" [disabled]="!_ShowApprovalExpiryDate" [(ngModel)]="_AddLoanApplicationDetails.ApprovalExpiryDate" name="DateArriveFrom" #DateArriveFrom="ngModel">
                                                                <mat-datepicker-toggle matSuffix [for]="DateArriveFrom"></mat-datepicker-toggle>
                                                                <mat-datepicker #DateArriveFrom></mat-datepicker>
                                                                <div *ngIf="DateArriveFrom.invalid && (DateArriveFrom.dirty || DateArriveFrom.touched)" class="alert alert-danger">
                                                                    <div *ngIf="DateArriveFrom.errors.required ">
                                                                        Please select Date Arrive From.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100 mb-0">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <input matInput placeholder="Age Of Property" [(ngModel)]="_AddLoanApplicationDetails.AgeOfProperty" name="AgeOfProperty" #AgeOfProperty="ngModel" required>
                                                                <div *ngIf="AgeOfProperty.invalid && (AgeOfProperty.dirty || AgeOfProperty.touched)" class="alert alert-danger">
                                                                    <div *ngIf="AgeOfProperty.errors.required ">
                                                                        Please select Age Of Property.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100 pt-3 mb-0">
                                                        <div class="field_info w-100">
                                                            <label class="custom-radio-label">Is Shifted</label>
                                                            <mat-radio-group [(ngModel)]="_AddLoanApplicationDetails.IsShifted" (click)="SwitchShifted()" name="IsShifted" #IsShifted="ngModel" class="w-100" required>
                                                                <mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
                                                                <mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
                                                                <div *ngIf="IsShifted.invalid && (IsShifted.dirty || IsShifted.touched)" class="alert alert-danger">
                                                                    <div *ngIf="IsShifted.errors.required ">
                                                                        Please select Is Shifted.
                                                                    </div>
                                                                </div>
                                                            </mat-radio-group>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100 mb-0">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <input matInput placeholder="Shifted Duration" [disabled]="!_ShowShiftedDuration" [(ngModel)]="_AddLoanApplicationDetails.ShiftedDuration" name="ShiftedDuration" #ShiftedDuration="ngModel" required>
                                                                <div *ngIf="ShiftedDuration.invalid && (ShiftedDuration.dirty || ShiftedDuration.touched)" class="alert alert-danger">
                                                                    <div *ngIf="ShiftedDuration.errors.required ">
                                                                        Please enter Shifted Duration.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-0">
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100 pt-3 mb-0">
                                                        <div class="field_info w-100">
                                                            <label class="custom-radio-label">Is Property Decided</label>
                                                            <mat-radio-group [(ngModel)]="_AddLoanApplicationDetails.IsPropertyDecided" name="IsPropertyDecided" #IsPropertyDecided="ngModel" (click)="SwitchCostOfProperty()" class="w-100">
                                                                <mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
                                                                <mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
                                                                <div *ngIf="IsPropertyDecided.invalid && (IsPropertyDecided.dirty || IsPropertyDecided.touched)" class="alert alert-danger">
                                                                    <div *ngIf="IsPropertyDecided.errors.required ">
                                                                        Please select Is Property Decided.
                                                                    </div>
                                                                </div>
                                                            </mat-radio-group>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100 mb-0">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <input matInput placeholder="Cost Of Property" [disabled]="!_ShowCostOfProperty" [(ngModel)]="_AddLoanApplicationDetails.CostOfProperty" name="CostOfProperty" #CostOfProperty="ngModel" required>
                                                                <div *ngIf="CostOfProperty.invalid && (CostOfProperty.dirty || CostOfProperty.touched)" class="alert alert-danger">
                                                                    <div *ngIf="CostOfProperty.errors.required ">
                                                                        Please select CostOfProperty.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100 mb-0">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <mat-select placeholder="Type of Property" [(ngModel)]="_AddLoanApplicationDetails._PropertyTypeID.ID" name="PropertyType" #PropertyType="ngModel" required>
                                                                    <mat-option *ngFor="let PropertyTypeValues of _PropertyTypeID" [value]="PropertyTypeValues.ID">{{PropertyTypeValues.PropertyType}}</mat-option>
                                                                </mat-select>
                                                                <div *ngIf="PropertyType.invalid && (PropertyType.dirty || PropertyType.touched)" class="alert alert-danger">
                                                                    <div *ngIf="PropertyType.errors.required ">
                                                                        Please select Type of Property.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100 mb-0">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <input matInput placeholder="Property Used For" [(ngModel)]="_AddLoanApplicationDetails.PropertyUsedFor" name="PropertyUsedFor" #PropertyUsedFor="ngModel" required>
                                                                <div *ngIf="PropertyUsedFor.invalid && (PropertyUsedFor.dirty || PropertyUsedFor.touched)" class="alert alert-danger">
                                                                    <div *ngIf="PropertyUsedFor.errors.required ">
                                                                        Please select Property Used For.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-0">
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100 pt-3 mb-0">
                                                        <div class="field_info w-100">
                                                            <label class="custom-radio-label">Is Application Aprroved</label>
                                                            <mat-radio-group [(ngModel)]="_AddLoanApplicationDetails.IsApplicationApproved" name="IsApplicationApproved" #IsApplicationApproved="ngModel" class="w-100" required>
                                                                <mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
                                                                <mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
                                                                <div *ngIf="IsApplicationApproved.invalid && (IsApplicationApproved.dirty || IsApplicationApproved.touched)" class="alert alert-danger">
                                                                    <div *ngIf="IsApplicationApproved.errors.required ">
                                                                        Please select Is Application Approved.
                                                                    </div>
                                                                </div>
                                                            </mat-radio-group>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left">
                                                    <div class="field_set w-100 mb-0">
                                                        <mat-form-field class="w-100">
                                                            <mat-select placeholder="Current Status" [(ngModel)]="_AddLoanApplicationDetails._StatusID.ID" name="StatusID" (change)="updateDiv($event)" #StatusID="ngModel" required>
                                                                <mat-option *ngFor="let StatusTypeValues of _StatusID" [value]="StatusTypeValues.ID">{{StatusTypeValues.Status}}</mat-option>
                                                            </mat-select>
                                                            <div *ngIf="StatusID.invalid && (StatusID.dirty || StatusID.touched)" class="alert alert-danger">
                                                                <div *ngIf="StatusID.errors.required ">
                                                                    Please select Current Status.
                                                                </div>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-12 float-left" >
                                                    <div class="field_set w-100 mb-0">
                                                        <div class="field_info w-100">
                                                            <mat-form-field class="w-100">
                                                                <input matInput placeholder="Reason For Not Approval"  [(ngModel)]="_AddLoanApplicationDetails.ReasonForNotApproval" name="ReasonForNotApproval" #ReasonForNotApproval="ngModel">
                                                                <div *ngIf="ReasonForNotApproval.invalid && (ReasonForNotApproval.dirty || ReasonForNotApproval.touched)" class="alert alert-danger">
                                                                    <div *ngIf="ReasonForNotApproval.errors.required ">
                                                                        Please select Reason For Not Approval.
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="w-100 float-left">
                                <div class="btn-bottom pr-4 pl-4 text-right">
                                    <input type="button" value="&#xf0c7; Save" (click)="AddLoanApplicationDetails()" [disabled]="!AddLoanApplicantform.form.valid" class="btn btn-success" />
                                    <input type="button" value="&#xf00d; Cancel" (click)="CancelEditingDetails()" class="btn btn-secondary" />
                                </div>
                            </div>
                        </div>                            
                        </div>
                    </div>
                </div>
            </div>
        

