<div [@routerTransition] class="application-details">
    <app-page-header [heading]="'Applications'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div *ngIf="!_ViewApplicationDetails">
        <kendo-grid [kendoGridBinding]="gridData"
                    [pageSize]="2"
                    [sortable]="true"
                    [pageable]="true"
                    [scrollable]="true"
                    [filterable]="true"
                    [groupable]="true"
                    selectable="true">

            <kendo-grid-column field="LoanApplicationNo" title="LoanApplication No">
            </kendo-grid-column>
            <kendo-grid-column field="_TypeOfLoanID.LoanType" title="Loan Type">
            </kendo-grid-column>
            <kendo-grid-column field="LoanTerm" title="Term">
            </kendo-grid-column>

            <kendo-grid-column field="_RateTypeID.LoanRateType" title="Rate Type">
            </kendo-grid-column>
            <kendo-grid-column field="_PropertyTypeID.PropertyType" title="Property Type">
            </kendo-grid-column>
            <kendo-grid-column field="_StatusID.Status" title="Status">
            </kendo-grid-column>
            <kendo-grid-command-column>
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <button class="btn btn-lg btn-link" type="button" (click)="ViewDetails(dataItem.LoanApplicationNo)">View details</button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
    </div>

    <div class="" *ngIf="_ViewApplicationDetails">
        <div class="back-btn">
            <button class="btn btn-lg btn-link text-white font-weight-bold" type="button" (click)="ViewDetails('ViewList')">Back</button>
        </div>
        <div class="w-100 float-left">
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="section_box">
                            <div class="box_title">Loan Application Form</div>
                            <div class="tab-content clearfix ml-0">
                                <div class="w-100 float-left text-right">
                                    <input type="button" value="&#xf067; Add Applicant" class="btn btn-secondary" (click)="openDialog()" />
                                </div>
                                <div class="w-100 float-left">
                                    <div class="tab-pane active">
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Type of Loan</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails._TypeOfLoanID.LoanType}}</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditDetails">
                                                            <input matInput placeholder="Type of Loan" [(ngModel)]="_LoanApplicationDetails._TypeOfLoanID.LoanType">
                                                        </mat-form-field>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Purpose of loan</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails._PurposeOfLoanID.PurposeOfLoan}}</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditDetails">
                                                            <input matInput placeholder="Type of Loan" [(ngModel)]="_LoanApplicationDetails._PurposeOfLoanID.PurposeOfLoan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Is Pre-approval</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails.IsPreApproval}}</p>
                                                        <mat-radio-group class="example-radio-group" [(ngModel)]="_LoanApplicationDetails.IsPreApproval" *ngIf="_EditDetails">
                                                            <mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
                                                            <mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Priority</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails.Priority}}</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditDetails">
                                                            <input matInput placeholder="Priority" [(ngModel)]="_LoanApplicationDetails.Priority">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Finance Required</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails.FinanceRequired}}</p>
                                                        <mat-radio-group class="example-radio-group" [(ngModel)]="_LoanApplicationDetails.FinanceRequired" *ngIf="_EditDetails">
                                                            <mat-radio-button class="example-radio-button" value="Yes">Yes</mat-radio-button>
                                                            <mat-radio-button class="example-radio-button" value="No">No</mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Cash In-hand</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails.CashInHand}}</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditDetails">
                                                            <input matInput placeholder="Cash In Hand" [(ngModel)]="_LoanApplicationDetails.CashInHand">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Loan Term</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails.LoanTerm}}</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditDetails">
                                                            <input matInput placeholder="Loan Term" [(ngModel)]="_LoanApplicationDetails.LoanTerm">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Rate Type</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails._RateTypeID.LoanRateType}}</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditDetails">
                                                            <input matInput placeholder="Rate Type" [(ngModel)]="_LoanApplicationDetails._RateTypeID.LoanRateType">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Frequency</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails.Frequency}}</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditDetails">
                                                            <input matInput placeholder="Frequency" [(ngModel)]="_LoanApplicationDetails.Frequency">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0">

                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Is Application Aprroved</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails.IsApplicationApproved}}</p>
                                                        <mat-radio-group class="example-radio-group" [(ngModel)]="_LoanApplicationDetails.IsApplicationApproved" *ngIf="_EditDetails">
                                                            <mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
                                                            <mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Approval Expiry</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails.ApprovalExpiryDate}}</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditDetails">
                                                            <input matInput placeholder="Approval Expiry Date" [(ngModel)]="_LoanApplicationDetails.ApprovalExpiryDate">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Reason for Not Approval</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails.ReasonForNotApproval}}</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditDetails">
                                                            <input matInput placeholder="Reason For Not Approval" [(ngModel)]="_LoanApplicationDetails.ReasonForNotApproval">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row m-0">

                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Any Guarantor</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails.IsAnyGuarantor}}</p>
                                                        <mat-radio-group class="example-radio-group" [(ngModel)]="_LoanApplicationDetails.IsAnyGuarantor" *ngIf="_EditDetails">
                                                            <mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
                                                            <mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Cost Of Property</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails.CostOfProperty}}</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditDetails">
                                                            <input matInput placeholder="Cost Of Property" [(ngModel)]="_LoanApplicationDetails.CostOfProperty">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Type Of Property</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails._PropertyTypeID.PropertyType}}</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditDetails">
                                                            <input matInput placeholder="Property Type" [(ngModel)]="_LoanApplicationDetails._PropertyTypeID.PropertyType">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Age Of Property</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails.AgeOfProperty}}</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditDetails">
                                                            <input matInput placeholder="Type of Loan" [(ngModel)]="_LoanApplicationDetails.AgeOfProperty">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Is Shifted</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails.IsShifted}}</p>
                                                        <mat-radio-group class="example-radio-group" [(ngModel)]="_LoanApplicationDetails.IsShifted" *ngIf="_EditDetails">
                                                            <mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
                                                            <mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Shifted Duration</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails.ShiftedDuration}}</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditDetails">
                                                            <input matInput placeholder="Shifted Duration" [(ngModel)]="_LoanApplicationDetails.ShiftedDuration">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Property Used For</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails.PropertyUsedFor}}</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditDetails">
                                                            <input matInput placeholder="Property Used For" [(ngModel)]="_LoanApplicationDetails.PropertyUsedFor">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Is Property Decided</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails.IsPropertyDecided}}</p>
                                                        <mat-radio-group class="example-radio-group" [(ngModel)]="_LoanApplicationDetails.IsPropertyDecided" *ngIf="_EditDetails">
                                                            <mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
                                                            <mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Current Status</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditDetails">{{_LoanApplicationDetails._StatusID.Status}}</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditDetails">
                                                            <input matInput placeholder="Status" [(ngModel)]="_LoanApplicationDetails._StatusID.Status">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="float-right">
                                            <input type="button" value="&#xf0c7; Save" (click)="UpdateLoanApplicationDetails()" *ngIf="_EditDetails" class="btn btn-success" />
                                            <input type="button" value="&#xf00d; Cancel" (click)="CancelEditingDetails()" *ngIf="_EditDetails" class="btn btn-secondary" />
                                            <input type="button" value="&#xf040; Edit" (click)="EditDetails()" *ngIf="!_EditDetails" class="btn btn-info" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
