<div [@routerTransition] class="application-details">
    <div class="w-100 float-left">
        <app-page-header [heading]="'Applications'" [icon]="'fa-bar-chart-o'"></app-page-header>
    </div>
    <div class="w-100 float-left">
        <kendo-grid [kendoGridBinding]="gridData"
                    [pageSize]="10"
                    [sortable]="true"
                    [pageable]="true"
                    [scrollable]="true"
                    [filterable]="true"
                    [groupable]="true"
                    selectable="true">
            <kendo-grid-column field="ApplicationFormNumber" title="Application Form No">
            </kendo-grid-column>
            <kendo-grid-column field="LoanApplicationNo" title="LoanApplication No" hidden="hidden">
            </kendo-grid-column>
            <kendo-grid-column field="_TypeOfLoanID.LoanType" title="Loan Type">
            </kendo-grid-column>
            <kendo-grid-column field="LoanTerm" title="Term">
            </kendo-grid-column>

            <kendo-grid-column field="_RateTypeID.LoanRateType" title="Rate Type">
            </kendo-grid-column>
            <kendo-grid-column field="_PropertyTypeID.PropertyType" title="Property Type">
            </kendo-grid-column>
            <kendo-grid-column field="_StatusID.Status" title="Status">
            </kendo-grid-column>
            <kendo-grid-command-column>
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <button class="btn btn-lg btn-link p-0" type="button" (click)="ViewDetails(dataItem.LoanApplicationNo)">View details</button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
    </div>
    <div class="w-100 mt-3 float-left text-right">
        <input type="button" value="&#xf040; Add Loan Application" (click)="AddLoanAplicationForm()" class="btn btn-secondary" />
    </div>
</div>


