
<div [@routerTransition] class="application-details">
    <app-page-header [heading]="'Clients'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div *ngIf="!_ViewApplicantDetails">
        <kendo-grid [kendoGridBinding]="gridData"
                    [pageSize]="2"
                    [sortable]="true"
                    [pageable]="true"
                    [scrollable]="true"
                    [filterable]="true"
                    [groupable]="true"
                    selectable="true">
            <kendo-grid-column title="Client name" [filter]="'text'">
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <label>{{dataItem.FirstName}} {{dataItem.MiddleName}} {{dataItem.LastName}}</label>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="MobileNo" title="Contact">
            </kendo-grid-column>
            <kendo-grid-column field="EmailID" title="Email">
            </kendo-grid-column>
            <kendo-grid-column field="ApplicantType.ApplicantType" title="Applicant type">
            </kendo-grid-column>
            <kendo-grid-command-column>
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <button class="btn btn-lg btn-link" type="button" (click)="ViewClientDetails(dataItem.ApplicantID)">View details</button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
    </div>
    <div *ngIf="_ViewApplicantDetails">
        <div class="back-btn">
            <button class="btn btn-lg btn-link text-white font-weight-bold" type="button" (click)="ViewClientDetails('ViewList')">Back</button>
        </div>
        <div class="w-100 float-left">
            <div id="exTab1" class="basic-container">
                <mat-tab-group>
                    <mat-tab label="Personal details"><client-personal-details></client-personal-details></mat-tab>
                    <mat-tab label="Employement details"><client-employement-details></client-employement-details></mat-tab>
                    <mat-tab label="Communication Details"><client-communication-details></client-communication-details></mat-tab>
                    <mat-tab label="Qualification details"><client-qualification-details></client-qualification-details></mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>