<div [@routerTransition] class="application-details">
    <app-page-header [heading]="'Clients'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div *ngIf="!_ViewApplicantDetails">
        <kendo-grid [kendoGridBinding]="gridData"
                    [pageSize]="2"
                    [sortable]="true"
                    [pageable]="true"
                    [scrollable]="true"
                    [filterable]="true"
                    [groupable]="true"
                    selectable="true">
            <kendo-grid-column title="Client name" [filter]="'text'">
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <label>{{dataItem.FirstName}} {{dataItem.MiddleName}} {{dataItem.LastName}}</label>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="MobileNo" title="Contact">
            </kendo-grid-column>
            <kendo-grid-column field="EmailID" title="Email">
            </kendo-grid-column>
            <kendo-grid-column field="ApplicantType.ApplicantType" title="Applicant type">
            </kendo-grid-column>
            <kendo-grid-command-column>
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <button class="btn btn-lg btn-link" type="button" (click)="ViewClientDetails(dataItem.ApplicantID)">View details</button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
    </div>
    <div *ngIf="_ViewApplicantDetails">
        <div class="w-100 float-left text-right header-bg">
            <button class="btn btn-lg btn-link" type="button" (click)="ViewClientDetails('ViewList')">Back</button>
        </div>
        <div class="w-100 float-left">
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="section_box">
                            <div class="box_title">Client Details</div>
                            <div class="tab-content clearfix ml-0">
                                <div class="w-100 float-left text-right">
                                    <input type="button" value="&#xf067; Add Client" class="btn btn-secondary" (click)="openDialog()" />
                                </div>
                                <div class="w-100 float-left">
                                    <div class="tab-pane active">
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Type of Loan</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Type of Loan</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Purpose of loan</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Purpose of loan</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Is Pre-approval</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Is Pre-approval</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Priority</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Priority</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Required Loan Amount</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Required Loan Amount</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Cash In-hand</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Cash In-hand</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Loan Term</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Loan Term</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Rate Type</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Rate Type</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Frequency</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Frequency</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Application Aprroved</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Application Aprroved</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Approval Expiry</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Approval Expiry</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Reason for Not Approval</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Reason for Not Approval</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Any Guarantor</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Any Guarantor</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Cost Of Property</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Cost Of Property</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Type Of Property</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Type Of Property</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Age Of Property</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Age Of Property</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Is Shifted</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Is Shifted</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Duration</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Duration</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Property User For</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Property User For</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Is Property Decided</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Is Property Decided</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                <div class="field_set">
                                                    <div class="field_label">Current Status</div>
                                                    <div class="field_info">
                                                        <p *ngIf="!_EditPersonalDetails">Current Status</p>
                                                        <mat-form-field class="example-full-width" *ngIf="_EditPersonalDetails">
                                                            <input matInput placeholder="Type of Loan" value="Type of Loan">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="float-right">
                                    <input type="button" value="&#xf0c7; Save" (click)="UpdatePersonalDetails()" *ngIf="_EditPersonalDetails" class="btn btn-success" />
                                    <input type="button" value="&#xf00d; Cancel" (click)="CancelEditingPersonalDetails()" *ngIf="_EditPersonalDetails" class="btn btn-secondary" />
                                    <input type="button" value="&#xf040; Edit" (click)="EditPersonalDetails()" *ngIf="!_EditPersonalDetails" class="btn btn-info" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div [@routerTransition] class="application-details">
    <app-page-header [heading]="'Clients'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div *ngIf="!_ViewApplicantDetails">
        <kendo-grid [kendoGridBinding]="gridData"
                    [pageSize]="2"
                    [sortable]="true"
                    [pageable]="true"
                    [scrollable]="true"
                    [filterable]="true"
                    [groupable]="true"
                    selectable="true">
            <kendo-grid-column title="Client name" [filter]="'text'">
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <label>{{dataItem.FirstName}} {{dataItem.MiddleName}} {{dataItem.LastName}}</label>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="MobileNo" title="Contact">
            </kendo-grid-column>
            <kendo-grid-column field="EmailID" title="Email">
            </kendo-grid-column>
            <kendo-grid-column field="ApplicantType.ApplicantType" title="Applicant type">
            </kendo-grid-column>
            <kendo-grid-command-column>
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <button class="btn btn-lg btn-link" type="button" (click)="ViewClientDetails(dataItem.ApplicantID)">View details</button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
    </div>

    <div *ngIf="_ViewApplicantDetails">
        <div class="w-100 float-left text-right header-bg">
            <button class="btn btn-lg btn-link" type="button" (click)="ViewClientDetails('ViewList')">Back</button>
        </div>
        <div class="w-100 float-left">
            <div id="exTab1" class="basic-container">
                <mat-tab-group>
                    <mat-tab label="Personal details"><client-personal-details></client-personal-details></mat-tab>
                    <mat-tab label="Employement details"><client-employement-details></client-employement-details></mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>-->