<div class="content-section">
        <div class="col-lg-12 col-md-12">
            <h3 class="text-uppercase border-bottom pb-2 mb-2">Employment</h3>
            <div class="qualification-section">
                <div class="content-setion">
                    <mat-table #table [dataSource]="dataSource">
                        <ng-container matColumnDef="Source of Income">
                            <mat-header-cell *matHeaderCellDef class="text-white text-uppercase font-weight-bold">Source of Income</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.SourceOfIncome}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Profession">
                            <mat-header-cell *matHeaderCellDef class="text-white text-uppercase font-weight-bold">Profession</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.Profession}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Employer Name">
                            <mat-header-cell *matHeaderCellDef class="text-white text-uppercase font-weight-bold">Employer Name</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.EmployerName}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Duration">
                            <mat-header-cell *matHeaderCellDef class="text-white text-uppercase font-weight-bold">Duration</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.Duration}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Income">
                            <mat-header-cell *matHeaderCellDef class="text-white text-uppercase font-weight-bold">Income</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.Income}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Status">
                            <mat-header-cell *matHeaderCellDef class="text-white text-uppercase font-weight-bold">Status</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.Status}} <button type="submit" (click)="ViewDetails(element.EmploymentID)" class="btn btn-sm btn-secondary float-right"><i class="fa fa-eye"></i> View Details</button></mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator #paginator
                                   [pageSize]="1"
                                   [pageSizeOptions]="[1, 2, 3]"
                                   [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
            <div class="qualification-details mt-4">
                <form name="form" #Employmentform="ngForm" novalidate>
                    <mat-card class="border">
                        <h4 class="sub-heading text-uppercase text-center position-relative pb-2 mb-4">
                            Employment details
                            <span class="top-btn">
                                <input type="button" value="&#xf040; Edit" class="btn btn-sm btn-info" (click)="EditDetails()" *ngIf="!_EditDetails" />
                                <input type="button" value="&#xf0c7; Save" (click)="UpdateDetails()" *ngIf="_EditDetails" [disabled]="!Employmentform.form.valid" class="btn btn-sm btn-success" />
                                <input type="button" value="&#xf00d; Cancel" (click)="CancelEditingDetails()" *ngIf="_EditDetails" class="btn btn-sm btn-secondary" />
                            </span>
                        </h4>
                        <div class="">
                            <div class="row mb-2">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <div class="border bg-light pt-3 pb-3 clearfix" *ngIf="!_EditDetails">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                            <span><i class="fa fa-usb text-info"></i> Source of Income</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                            <span class="text-secondary">{{EmploymentDetails.EmployementType}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="_EditDetails">
                                        <mat-form-field class="w-100">
                                            <mat-select placeholder="Source of Income" value="EmploymentDetails.EmployementType" [(ngModel)]="EmploymentDetails.EmployementType" name="SourceOfIncome" #SourceOfIncome="ngModel" required>
                                                <mat-option *ngFor="let sourceOfIncome of _EmploymentType" [value]="sourceOfIncome.EmployementType">{{sourceOfIncome.EmployementType}}</mat-option>
                                            </mat-select>
                                            <div *ngIf="SourceOfIncome.invalid && (SourceOfIncome.dirty || SourceOfIncome.touched)" class="alert alert-danger">
                                                <div *ngIf="SourceOfIncome.errors.required ">
                                                    Please select Source Of Income.
                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>


                                    <!--<mat-form-field class="w-100" *ngIf="_EditDetails">
                                        <input matInput placeholder="Source of Income" value="EmploymentDetails.SourceOfIncome" [(ngModel)]="EmploymentDetails.EmployementType" name="SourceOfIncome" #SourceOfIncome="ngModel" required>
                                        <div *ngIf="SourceOfIncome.invalid && (SourceOfIncome.dirty || SourceOfIncome.touched)" class="alert alert-danger">
                                            <div *ngIf="SourceOfIncome.errors.required ">
                                                Please enter Source of Income.
                                            </div>
                                        </div>
                                    </mat-form-field>-->
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <div class="border bg-light pt-3 pb-3 clearfix" *ngIf="!_EditDetails">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                            <span><i class="fa fa-black-tie text-info"></i> Profession</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                            <span class="text-secondary">{{EmploymentDetails.Profession}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="_EditDetails">
                                        <mat-form-field class="w-100">
                                            <mat-select placeholder="Profession" value="EmploymentDetails.Profession" [(ngModel)]="EmploymentDetails.Profession" name="Profession" #Profession="ngModel" required>
                                                <mat-option *ngFor="let profession of _ProfessionType" [value]="profession.Profession">{{profession.Profession}}</mat-option>
                                            </mat-select>
                                            <div *ngIf="Profession.invalid && (Profession.dirty || Profession.touched)" class="alert alert-danger">
                                                <div *ngIf="Profession.errors.required ">
                                                    Please select Profession.
                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <div class="border bg-light pt-3 pb-3 clearfix" *ngIf="!_EditDetails">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                            <span><i class="fa fa-user text-info"></i>Employer Name</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                            <span class="text-secondary">{{EmploymentDetails.EmployerName}}</span>
                                        </div>
                                    </div>
                                    <mat-form-field class="w-100" *ngIf="_EditDetails">
                                        <input matInput placeholder="Employer Name" [(ngModel)]="EmploymentDetails.EmployerName" name="employername" #employername="ngModel" required>
                                        <div *ngIf="employername.invalid && (employername.dirty || employername.touched)" class="alert alert-danger">
                                            <div *ngIf="employername.errors.requirerd">
                                                Please enter Employer Name.
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <div class="border bg-light pt-3 pb-3 clearfix" *ngIf="!_EditDetails">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                            <span><i class="fa fa-calendar text-info"></i> Duration</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                            <span class="text-secondary">{{EmploymentDetails.Duration}}</span>
                                        </div>
                                    </div>
                                    <mat-form-field class="w-100" *ngIf="_EditDetails">
                                        <input matInput placeholder="Duration" [(ngModel)]="EmploymentDetails.Duration" name="duration" #duration="ngModel" required>
                                        <div *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="alert alert-danger">
                                            <div *ngIf="duration.errors.required">
                                                Please enter Duration.
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <div class="border bg-light pt-3 pb-3 clearfix" *ngIf="!_EditDetails">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                            <span><i class="fa fa-money text-info"></i> Income</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                            <span class="text-secondary">{{EmploymentDetails.Income}}</span>
                                        </div>
                                    </div>
                                    <mat-form-field class="w-100" *ngIf="_EditDetails">
                                        <input matInput placeholder="Income" [(ngModel)]="EmploymentDetails.Income" name="income" #income="ngModel" required>
                                        <div *ngIf="income.invalid && (income.dirty || income.touched)" class="alert alert-danger">
                                            <div *ngIf="income.errors.required">
                                                Please enter Income.
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                    <div class="border bg-light pt-3 pb-3 clearfix" *ngIf="!_EditDetails">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                            <span><i class="fa fa-clock-o text-info"></i> Status </span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                                            <span class="text-secondary">{{EmploymentDetails.Status}}</span>
                                        </div>
                                    </div>
                                    <mat-form-field class="w-100" *ngIf="_EditDetails">
                                        <input matInput placeholder="Status" [(ngModel)]="EmploymentDetails.Status" name="status" #status="ngModel" required>
                                        <div *ngIf="status.invalid && (status.dirty || status.touched)" class="alert alert-danger">
                                            <div *ngIf="status.errors.required">
                                                Please enter status.
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </form>
            </div>
        </div>
    </div>
