@import url('https://fonts.googleapis.com/css?family=Oswald');

.login-page form { max-width: 600px; margin: 0 auto; display: block;}
.login-page img { max-width: 40%; }

.application-details, .master-forms {min-width: 1150px; }
    .master-forms .k-grouping-header, .application-details .k-grouping-header { display: none; }
    .master-forms .breadcrumb, .application-details .breadcrumb { background: #776d84; }
    .application-details .breadcrumb {  margin-bottom: 0px; border-radius: 0.25rem 0.25rem 0px 0px; }
        .master-forms .breadcrumb li:first-child, .master-forms .breadcrumb li:first-child a, .application-details .breadcrumb li:first-child, .application-details .breadcrumb li:first-child a { color: #ffffff; text-decoration: none; }
        .master-forms .breadcrumb li, .master-forms .breadcrumb .breadcrumb-item + .breadcrumb-item::before, .application-details .breadcrumb li, .application-details .breadcrumb .breadcrumb-item + .breadcrumb-item::before { color: #c6c6c6; }
        .master-forms .btn-link { padding: 0px; }
    .master-forms h2, .application-details h2 { color: #1b9ec5; font-size: 25px; text-transform: uppercase; font-weight: 600; padding: 12px 0px; }
.sub-head { color: #1b9ec5; font-size: 30px; text-transform: uppercase; font-weight: 500; font-family: 'Oswald', sans-serif; text-align:center; }
/*.master-forms th { background:#d7d7d7; padding:10px;}*/
.master-forms th .ng-star-inserted { text-transform: uppercase; color: #212529; }
    .master-forms th .ng-star-inserted:hover { color: #1b9ec5; }
.master-forms .section_box, .application-details .section_box { margin-left: 0; width: 100%; }
    /*.master-forms .section_box .tab-content { padding:40px 10px 0px 10px;}*/
    .master-forms .section_box .box_title, .application-details .section_box .box_title { background: #f9f9f9; font-size: 14px; color: #1b9ec5; z-index: 100; }
.master-forms input[type="button"], .application-details input[type="button"], .master-forms input[type="submit"], .application-details input[type="submit"] { padding: 5px 10px; font-size: 14px; font-family: FontAwesome, "Open Sans", Verdana, sans-serif; font-style: normal; font-weight: normal; text-decoration: inherit; }
.master-forms .btn:focus, .master-forms .btn.focus, .application-details .btn:focus, .application-details .btn.focus, .btn-secondary:not([disabled]):not(.disabled):active:focus { box-shadow: none; }
.application-details .mat-tab-label-container { z-index: unset !important; }
/*.application-details .mat-tab-labels { height:60px;}*/
.application-details .mat-tab-body-wrapper .form-group { font-size: 15px; }
.application-details .section_box { margin-bottom: 0px; }
.update_details .mat-form-field-invalid .mat-form-field-label, .update_details .mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker, .update_details .mat-form-field-invalid .mat-form-field-label.mat-accent { color: #757575; }
.update_details .mat-form-field-invalid .mat-form-field-ripple { background-color: #757575; }
.update_details .alert-danger { display: none; }
.update_details .mat-form-field .mat-select.mat-select-invalid .mat-select-arrow { color: #757575; }
.application-details .field_set { width: 100%; }
.back-btn button { padding: 0px; position: absolute; top: 89px; z-index: 10; right: 28px; }
.application-details .mat-form-field, .master-forms .mat-form-field { display: block; }
.application-details hr { border-top: 1px dashed #ccc; box-shadow: 0px 0px 2px #a0a0a0; margin: 7px 15px; }
.application-details .field_set .field_label, .master-forms .field_set .field_label { width: 40%; float: left; color: #585858; }
.application-details .tab-content .field_set .field_info, .master-forms .field_set .field_info, .application-details .field_set p { width: 60%; float: left; line-height: 35px; margin-bottom: 0px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.edit-texts .field_set .field_info { line-height:16px !important; }

/*.application-details .section_box .tab-content .datevalue { margin-bottom:0px; padding-top:7px; float:left;}*/
.form-section { display: flex; flex-direction: column; }
.master-forms .form-section .field_set .field_label { margin-top: 15px; }
.btn-bottom { background: #fafafa; border-top: 1px solid #e0e0e0; padding: 10px 15px; }
a { outline: none; }
.profile-pic img { width: 160px; height: 160px; border-radius: 50%; padding: 2px; border: 1px solid #cccccc; }
.profile-pic h5 { font-size: 14px; color: #1b9ec5; }
.summary-dialog .profile-pic { margin: 0 auto; width: 160px; height: auto; display: block; border-radius: 50%; }
    .summary-dialog .profile-pic img { border: 1px solid #ccc; }
.login-date { position: absolute; z-index: 10; right: 0; top: -40px; }
.custom-radio-label { width: 100%; color: rgba(0,0,0,.46); font-size: 10.5px; display: block; }
.marggn-bottom { margin-bottom: -12px; }
.custom-radio-block { margin-top: -12px; }
.mat-dialog-container { max-width: 1200px; }
.cdk-overlay-pane { max-height: 86vh; overflow-y: auto; }
.k-grid td label { margin: 0px; }
.k-grid .btn-link { padding: 0px; }
.k-grid .k-filter-row td { padding: 4px 12px; }
.k-grid th { color: #1782a2; text-transform: uppercase; font-weight: 600; }
.k-grid th, .k-grid td { text-align: center; }
.asign-select-box .field_info { margin-right: 100px; }
.asign-select-box input[type="button"] { position: absolute; right: 0; top: 0px; z-index: 10; }
.dropdown-menu .media { color: #ffffff; }
.detailbox1, .detailbox2, .detailbox3 { border-radius: 5px; }
.detailbox1 { background: linear-gradient(58deg,#f44336,#673ab7); }
.detailbox2 { background: linear-gradient(58deg,#009688,#673ab7); }
.detailbox3 { background: linear-gradient(58deg,#aaa315,#673ab7); }
.bottom-value { font-size: 45px; }
.card-header h3 { color: #1b9ec5; font-size: 22px; text-transform: uppercase; margin: 0px; padding: 5px 0px; }
.upload-input { opacity: 0; top: 0px; z-index: 2; width: 100%; }
    .upload-input input { display: block; height: 35px; width: 111px; margin: 0 auto; cursor: pointer; }
.upload-image i { font-size: 20px; cursor: pointer; }

.dropdown-menu .media .text-muted {
    color: #aeb3b9 !important;
}

.data-table .datatable-header, .data-table .datatable-body, .data-table .datatable-scroll, .data-table .datatable-body-row {
    width: 100% !important;
}

.data-table .datatable-group-header .datatable-icon-down, .data-table .datatable-group-header .datatable-icon-right {
    font-size: 14px;
    cursor: pointer;
}

.data-table .ngx-datatable .datatable-header {
    background: #bee5eb;
    padding: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.data-table .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row:nth-child(2n+1) {
    background: rgba(0, 0, 0, 0.055);
}

.data-table .ngx-datatable .datatable-body-cell {
    padding-top: 7px;
    padding-left: 15px;
    font-size: 14px;
}

.data-table .ngx-datatable .datatable-footer {
    background: #bee5eb;
    padding: 0px 15px;
    font-weight: 600;
    margin-top: 5px;
}

.data-table .datatable-body-cell:last-child {
    text-align: center;
}

    .data-table .datatable-body-cell:last-child input[type="button"] {
        line-height: 15px;
        font-size: 11px;
        text-transform: uppercase;
    }

.client-details .section_box, .client-details .mat-tab-header {
    background: #f7f7f7;
    margin-top: 0px;
}

.client-details .mat-tab-header {
    border: none;
    height: 60px;
    border-left: 1px solid rgba(0,0,0,.08);
    border-right: 1px solid rgba(0,0,0,.08);
}

.client-details .mat-tab-label-container .mat-tab-labels {
    background: #326575;
}

.client-details .mat-tab-label {
    width: 25%;
    opacity: 1;
    border-right: 1px solid #ffffff;
}

    .client-details .mat-tab-label:last-child {
        border-right: none;
    }

.client-details .mat-tab-label-content {
    color: #ffffff;
    opacity: 1;
    text-transform: uppercase;
    font-size: 12px;
}

.client-details .btn-bottom {
    background: rgba(0, 0, 0, 0.078) !important;
}

.client-details .mat-tab-label-active {
    background: #1b95c5 !important;
}

    .client-details .mat-tab-label-active .mat-tab-label-content {
        font-size: 13px !important;
    }

    .client-details .mat-tab-label-active::after {
        font-family: "FontAwesome";
        position: absolute;
        z-index: 2;
        bottom: 0px;
        content: "\f0dd";
        width: 20px;
        height: 14px;
        color: #1b95c5;
        font-size: 30px;
        line-height: 20px;
    }

.client-details .mat-ink-bar {
    opacity: 0;
}

.client-details .mat-ripple {
    overflow: initial;
}


.datatable-icon-down::before {
    content: "\f107";
}

.datatable-icon-right::before {
    content: "\f106";
}

[class^="datatable-icon-"]::before, [class*=" datatable-icon-"]::before {
    font-family: "FontAwesome";
}

.net-amount {
    font-size: 14px;
}

    .net-amount span {
        color: #007b9f;
        font-weight: 600;
    }

.application-details .k-grid-header tr:first-child {
    background: #1b9ec5;
}

    .application-details .k-grid-header tr:first-child th {
        color: #ffffff;
        padding: 10px 12px;
    }

.application-details .k-grid-header tr:nth-child(2), .application-details .k-pager-wrap {
    background: #bee5eb;
}

.application-details .k-state-selected {
    background: #7ba6ad;
}

.application-details .k-pager-wrap .k-state-selected:hover {
    background: #1b9ec5;
}

.application-details .k-grid-content {
    overflow-y: auto;
}

.application-details .k-grid-footer-wrap, .application-details .k-grid-header-wrap, .application-details .k-widget {
    border: none;
}

.application-details .k-grid-header {
    padding: 0px !important;
}

.application-details .k-pager-numbers .k-link, .application-details .k-pager-numbers .k-link:link {
    color: #656565;
}

.application-details table tr td .btn-default { line-height:18px; border:1px solid #ececec; border-radius:5px; }

.upload-image-tab { width:270px; margin:0 auto 20px; }

.upload-image-tab input[type="file"] { opacity:0; z-index:10; padding:20px; height:70px; cursor:pointer; }
.upload-image-tab .position-absolute { top:.0px; z-index:5; padding:10px 0px; background:#869398; border:1px solid #d7eaf1; border-radius:5px; }
.upload-image-tab .position-absolute h6{ line-height:30px; }
.upload-image-tab .position-absolute i { font-size: 30px; color: #e0e0e0; }




/* Media Query*/


@media (max-width: 1700px) {
    .application-details .field_set .field_label, .master-forms .field_set .field_label {
        width: 45%;
    }

    .application-details .tab-content .field_set .field_info, .master-forms .field_set .field_info, .application-details .field_set p {
        width: 55%;
    }
}

@media (max-width: 1500px) {
    .application-details .field_set .field_label, .master-forms .field_set .field_label {
        width: 50%;
    }

    .application-details .tab-content .field_set .field_info, .master-forms .field_set .field_info, .application-details .field_set p {
        width: 50%;
    }

    .mat-dialog-container {
        max-width: 800%;
    }

    .application-details, .master-forms {
        min-width: 100%;
    }
}

@media (max-width: 1200px) {
    .application-details .field_set .field_label, .master-forms .field_set .field_label {
        width: 100%;    
    }
    .detailbox1.p-4, .detailbox2.p-4, .detailbox3.p-4 {
        padding: 15px !important;
    }
    .detailbox1 h3, .detailbox2 h3, .detailbox3 h3, .bottom-value {
        font-size: 22px;
    }

    .application-details .tab-content .field_set .field_info, .master-forms .field_set .field_info, .application-details .field_set p {
        width: 100%;
    }
}

@media (max-width: 767px){

    .sub-head { font-size:20px; }
    .application-details table, .application-details table tr, .application-details table td { width: 100%; display:block; float: left; }
    .application-details table tr th, .application-details table .k-filter-row { display: none; }
    .application-details table td { text-align: left; }
    .application-details td label { width: 100%; position:relative; }
    .application-details td label:before { left: 6px; width: 45%; font-weight: 600; content: attr(title); }
    .application-details .k-grid td { border-left:1px solid #ebebeb !important; border-right:1px solid #ebebeb !important; }
    .btn-bottom input[type="button"], .btn-bottom input[type="submit"] { width:190px; margin:2px 0px; display:block; }
    .tab-content .field_set { margin-bottom:0px; }
    .login-date { position:relative; top:0px; }
 }

@media (max-width: 575px){

        
 }
